<a class="click-on-dom-ready lightbox-opener" href="#alert"></a>
<div class="lightbox lightbox-alert" id="alert">
	<div class="lightbox-block">
		<div class="description">{{ message }}</div>
		<a class="button" data-fancybox-close>{{ 'Закрыть'|trans }}</a>
	</div>
</div>