<div class="client-block">
	<div class="heading-area">
		<h2>{{ '<b>Изменение</b> E-mail'|trans|raw }}</h2>
	</div>
	<form action="#" class="settings-form">
		<div class="label-block">
			<label for="new-email">Новый E-mail <span class="req">*</span></label>
			<div class="popup-block"><a class="popup-opener" href="#"> <i class="icon-question"></i></a>
				<div class="popup">
					<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis</p>
				</div>
			</div>
		</div>
		<input type="email" name="email" id="new-email" placeholder="">
		<div class="label-block">
			<label for="repeated-email">Повторите новый E-mail <span class="req">*</span></label>
			<div class="popup-block"><a class="popup-opener" href="#"> <i class="icon-question"></i></a>
				<div class="popup">
					<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis</p>
				</div>
			</div>
		</div>
		<input type="email" name="email" id="repeated-email" placeholder="">
		<div class="text-holder">
			<p>Вы получите  писмьмо подтверждения изменений по новому адресу.</p>
			<p>Письмо содержит ссылку подтверждения, по которой вы должны перейти.</p>
			<p>Проверьте вашу новую электронную почту.</p>
		</div>
		<div class="button-block">
			<input type="submit" class="button" value="Отправить письмо">
		</div>
	</form>
</div>