<div class="client-block">
	<div class="heading-area">
		<h2>{{ '<b>Изменение</b> пароля'|trans|raw }}</h2>
	</div>
	<div class="form-holder">
		{{ render(controller('AppBundle:Profile:changePassword')) }}
	</div>
</div>