{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			{% include 'components/breadcrumbs.html.twig' %}

			<div class="heading">
				<h1>{{'ЗГОДА НА ОБРОБКУ <b>ПЕРСОНАЛЬНИХ ДАНИХ</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<div class="default-content">
						{{ 'agreementpersonaldata.content'|trans|raw }}
					</div>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
