{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Ставки </b>по кредитам?'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Оформление кредита в микро финансовой компании – это серьезное решение, которое рекомендуется тщательно обдумать, взвесить все «за» и «против» и, правильно оценить свои финансовые возможности. В выборе компании стоит отдать предпочтение той структуре, в которой ежемесячная плата не будет превышать 50% от уровня дохода за месяц.</p>
				</div>
				<div class="block">
					<h2>Каковы главные критерии?</h2>
					<p>Главным критерием при выборе фирмы являются ставки по кредитам. CashYou – это лучший сервис в сфере микрокредитования. Итоговый платеж по займу состоит из суммы займа и начисленных процентов. От работников компании клиенты получат всю необходимую информацию об условиях займа.</p>
					<p>CashYou заранее информирует своих клиентов о возможных изменениях касательно ставки по кредиту.</p>
					<p>Прежде, чем сделать окончательный выбор в сторону определенной микрофинансовой компании, рекомендуется изучить следующие нюансы:</p>
					<ul>
						<li>актуальные акции, благодаря которым <b>ставки по кредитам</b> могут снижены;</li>
						<li>размер кредитных ставок предлагаемых продуктов;</li>
						<li>условия компании;</li>
					</ul>
					<p>Если Вы не знаете, какой выбор сделать, обратите внимание на рейтинг организаций, который составляется регулярно финансовыми аналитиками и рейтинговыми компаниями. У CashYou он занимает топовую позицию так как эта компания предлагает наиболее выгодные условия сотрудничества.</p>
					<p>Если кредитная история безупречная, то в CashYou предусмотрены поощрительные бонусы.</p>
				</div>
				<div class="block">
					<h2>От чего зависит размер ставки по кредитам?</h2>
					<p>Процент кредита зависит от нескольких факторов:</p>
					<ul>
						<li>тип кредитования;</li>
						<li>статус компании;</li>
						<liсрок, на который оформляется кредит.></li>
					</ul>
					<p>Большинство МФО Украины высчитывают процентную ставку индивидуально для каждого клиента. В каждом случае учитываются еще и такие факторы, как кредитоспособность клиента, его кредитная история, а также возможность вовремя погасить заем. Только в случае, если кредитор поймет, что заемщик в состоянии оплатить кредит, буде подписан кредитный договор.</p>
				</div>
				<div class="block">
					<h2>Повышаются ли процентные ставки, когда кредит уже оформлен?</h2>
					<p>Не так давно процентной ставкой интересовались только потенциальные клиенты, теперь же за такими изменениями должны следить и те, кто уже является постоянным клиентом микрокредитной организации. Клиенты CashYou регулярно имеют возможность поучаствовать в акциях, благодаря которым <b>ставки на кредит</b> будут значительно ниже. При подписании кредитного договора с CashYou клиенты могут быть спокойны что изменение процентной ставки никак не повлияет на текущий кредит, в отличии от других микрокредитных организаций. При изменении процентной ставки МФО в обязательном порядке оповещают об этом своих клиентов. </p>
					<p>Прежде, чем оформлять кредит, задумайтесь над тем, сможете ли погасить долг. Ведь в случае невыплаты обязательного платежа, начисляется штраф, который в последствие сложнее погасить.</p>
					<p>CashYou не является благотворительной организацией. Это удобный инструмент, который при грамотном использовании будет очень полезным и в нужный момент даст возможность получить недостающие денежные средства. </p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
