{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит 365'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'В кризисное время стоит помнить о существовании микрокредитов.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Кредит </b>365'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>В кризисное время стоит помнить о существовании микрокредитов. Сегодня эта услуга со стороны микрофинансовых организаций востребована как никогда. В стране работает много микрофинансовых организаций, которые могут предоставить услуги кредитовании. Только некоторые из них являются структурами имеющие безупречную репутацию. К таким организациям относится CashYou.</p>
				</div>
				<div class="block">
					<h2>Почему все чаще выбор падает на онлайн-сервисы?</h2>
					<p>В трудные времена потребность в кредитовании возникает практически ежедневно. CashYou дает возможность своим клиентам получить <b>кредит 365</b> дней в году. Микрокредитование чаще всего «находит» своего клиента, когда есть острая потребность в средствах.</p>
					<p>Для того чтобы наглядно оценить и проанализировать отличия между услугами микрокредитных компаний и обслуживанием в отделении банка стоит сказать, что:</p>
					<ul>
						<li>Практически все банки работают с менеджерами, а если система и весь рабочий процесс зависит на 80% от персонала и сотрудников, сложно делать прогнозы насколько эффективным будет сервис. Специфика банков заключается в том, что они предоставляют достаточно крупные денежные средства.</li>
						<li>Чтобы начать работать с банком по вопросу кредитования, следует собрать немалое количество документов.</li>
						<li>Если деньги нужны завтра утром, с кредитной организацией наподобие банка не получится сотрудничать из-за длительного одобрения заяки.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Услуга кредит 365 в CashYou</h2>
					<p>Стоит внимательно рассмотреть все условия, которые будут прописаны в договоре, с тем, чтобы не пришлось переплачивать или покупка вещи не стала бы в тягость.</p>
					<p>Для постоянных клиентов CashYou очень часто предоставляет льготное кредитование <br>Клиент самостоятельно может рассчитать сумму и проценты выплат. Достаточно только внимательно ознакомиться с информацией на сайте с учетом срока, на который берут заем.</p>
					<p>Кредитованием в микрофинансовой организации могут воспользоваться:</p>
					<ul>
						<li>Все без исключения лица, достигшие 18 летнего возраста;</li>
						<li>Частные предприниматели;</li>
						<li>Люди, которые не имеют работы, но которые имеют возможность вернуть заемные средства.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Быстро и надежно <b>кредит 365 дней</b> в году без отказов.</h2>
					<p>Деньги перечисляются на карту практически мгновенно. Важное условие: клиент должен находиться на территории Украины и быть ее гражданином. Компания CashYou настолько отладила логистические процессы, что проверка кредитной истории, выдача средств занимает всего несколько минут. Получить деньги можно в любой точке Украины. Даже в большие праздники сервис по микрокредитованию продолжает работать. Высокий уровень обслуживания значительно отличает CashYou от других подобных компаний.</p>
					<p>Для того чтобы получить нужную сумму заполните форму, указав всю контактную информацию, номера телефонов, и электронный адрес. <b>Кредит 365</b> решит материальные трудности без дополнительных документов, справок о платёжеспособности, и все это в режиме онлайн. CashYou это:</p>
					<ul>
						<li>Удобный сайт;</li>
						<li>Оперативный сервис;</li>
						<li>Привлекательные ставки.</li>
					</ul>
					<p>Вот что характеризует CashYou в наше время.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}