{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит с плохой историей'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Последние несколько лет экономическая ситуация в стране ухудшается.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Кредит </b>с плохой историей'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Последние несколько лет экономическая ситуация в стране ухудшается; количество желающих перезанять деньги, чтобы свести концы с концами неуклонно растет.</p>
					<p>Очень часто люди не могут сделать покупки, не перезанимая где-либо денег. CashYou – это микро кредитная организация, которая предоставляет гражданам денежный <b>кредит с плохой историей</b></p>
					<p>Если Вам необходимо оформить <b>кредит с плохой историей</b>, обращайтесь в CashYou.</p>
					<p><b>CashYou</b> – это компания, которая может выдать кредит онлайн в считанные минуты. В праздничные дни и выходные организация также работает в формате 24/7.</p>
					<p>Предоставляются микрокредиты до 15 тысяч гривен. Если клиент обращается впервые, то ему предоставляется не более 5 тысяч гривен. Максимальный срок достигает тридцати календарных дней. Как оперативный финансовый инструмент такая услуга очень востребована.</p>
					<p>Людям, которые теряют работу, а также учащимся труднее всего найти необходимый денежный ресурс.</p>
					<p>Равно это относится к людям, у которых кредитная история вызывает некоторые вопросы. <br>Обращаться стоит в проверенные кредитные учреждения, которые помогут занять необходимую сумму.</p>
					<p>CashYou всегда идет навстречу к гражданам, желающим получить <b>кредит с плохой историей</b>s. <br>Здесь можно получить нужную сумму за считанные минуты. Проценты могут быть от нуля до 2 сотых в сутки.Постоянные клиенты могут взять заем до 15000 гривен на один месяц. Возможность подтверждения заявки очень высока.</p>
				</div>
				<div class="block">
					<h2>Как оформить документы, если кредит с плохой историей</h2>
					<p>Достаточно заполнить стандартную форму на сайте CashYou, отправить заявку, при этом обязательно необходимо указать нужную сумму и срок возврата средств.</p>
					<p>Чтобы правильно решить вопрос с кредитом с плохой историей потребуется паспорт и мобильный телефон. Когда произойдет одобрение заявки, деньги поступят на банковскую карту клиента за считанные минуты.</p>
					<p>С плохой историей, возможно, получить кредит, на карту до 15 тысяч гривен. <br>Чаще всего кредитная история не рассматривается. Важно только, чтобы не было никаких долгов в других микрокредитных организациях. В этом случае получить заем будет делом несложным.</p>
				</div>
				<div class="block">
					<h2>Последствия невозврата кредита с плохой историей</h2>
					<p>Обязательно следует ознакомиться внимательно с договором.</p>
					<p>Важны следующие факторы:</p>
					<ul>
						<li>сроки возврата займа;</li>
						<li>процент;</li>
						<li>какие комиссии присутствуют.</li>
					</ul>
					<p>Рекомендуется помнить: нарушение утвержденного договора по кредитованию может привести к тому, что всю информацию кредитная фирма передаст в «Бюро кредитных историй» БКИ.</p>
					<p>Невозврат средств в условленное время приведет к таким последствиям:</p>
					<ul>
						<li>будет расти неустойка;</li>
						<li>будут начисляться штрафы;</li>
						<li>государство имеет право не выпускать гражданина за границу;</li>
						<li>может возникнуть требование о срочном возврате суммы с процентами;</li>
						<li>наложение ареста на личное имущество заемщика с целью возврата необходимой суммы.</li>
					</ul>
					<p>Если все делать правильно и платить вовремя, то подобная финансовая услуга может быть хорошим подспорьем в решении финансовых вопросов.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
