{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Деньги в кредит'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Кредит - экономические отношения по поводу временного использования свободных денежных средств с обязательным пополнением в установленные сроки.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Гроші в кредит</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Кредит - економічні відносини із приводу тимчасового використання вільних грошових коштів з обов’язковим поверненням в установлені строки, выплат за користування. Від фінансових труднощів ніхто не застрахований, але іноді виникають ситуації коли допомога мікрокредитних організацій буде дуже доречною. Перед тим як зробити важливий вибір треба обдумати і проаналізувати всі нюанси. </p>
				</div>
				<div class="block">
					<h2>Надійний партнер</h2>
					<p>Сьогодні існує безліч банків та компаній по наданню кредиту, і цей факт серйозно впливає на вибір клієнта. Слід пам’ятати що кредитування це дуже важливий крок, тому перед тим як скористатися цією послугою варто розуміти всі позитивні й негативні моменти в даній сфері. Крім того велику роль зіграє адекватна оцінка своїх власних можливостей і платоспроможності.</p>
					<p>Взяти <b>гроші в кредит</b> для того щоб здійснити свої мрії чи задовольнити власні потреби тепер набагато простіше, але для того щоб умови кредитування були найвигіднішими варто розглянути, а також детально вивчити всі нюанси, аспекти щодо пропозиції позики.</p>
					<p>CashYou – це компанія, де Вас очікує швидке та якісне обслуговування. <br>Відомі топові організації по типу CashYou які займаються видачою вільних коштив, гарантовано дадуть Вам можливість скористатися пакетом всіх можливих послуг по предоставлению кредитних ресурсів навіть не виходячи із дому. Крім того взявши <b>гроші в кредит</b> Ви завжди можете оцінити такі додаткові послуги як:</p>
					<ul>
						<li>Пролонгація кредиту, що означає продовження або відстрочка;</li>
						<li>Кредитування безробітних, пенсіонерів, студентів, людей з обмеженими можливостями, особливо для тих хто не має офіційного документального підтвердження про дохід чи довідку з місця роботи;</li>
						<li>Акції, програми лояльності, безвідсотковий період та інші вигідні тарифні пропозиції.</li>
						<li>Цілодобова робота сервісу;</li>
						<li>Можливість знайти на сайті в розділах всі категорії, інформацію в повному обсязі щодо бажаних позик;</li>
						<li>Мінімальні ставки та переплати, пропозиції щодо позик зі ставкою 0,01 % в день для першого онлайн замовлення.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Як зробити це швидко і надійно</h2>
					<p>Для того щоб взяти <b>гроші в кредит</b> потрібно мінімум вільного часу, і трішки терпіння. Треба вказати номер власної банківської карти для того щоб Вам могли надати послуги, посвідчення особи громадянина України, ідентифікаційний код, обов’язковою умовою буде вік позичальника, мінімальний поріг якого складає 18 років. Крім того для зручного обслуговування необхідно вказати контактний телефон та доступну адресу електронної пошти.</p>
					<p>Оформляючи заявку на сайті практично через декілька хвилин Вам прийде відповідь щодо Вашого прохання. Лідери організації ніколи не використовують прихованих додаткових комісій, відсотків й плати за користування. Крім того всі операції мають ступінь захисту, що гарантує безпеку від шахраїв та злодіїв.</p>
					<p>Щоб взяти <b>гроші в кредит</b> Вам більше не потрібно шукати довірених осіб та осіб, що ручаються за Вашу платоспроможність, не потрібно закладати своє власне майно і показувати довідки про доходи.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
