{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит безработным'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Многие микрокредитные компании предусмотрели факт отсутствия официального трудоустройства, и готовы предложить кредит безработным.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Кредит безработным </b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Многие микрокредитные компании предусмотрели факт отсутствия официального трудоустройства, и готовы предложить <b>кредит безработным</b> и помощь тем, кто не способен подтвердить свою платежеспособность.</p>
				</div>
				<div class="block">
					<h2>Теперь получить кредит гораздо проще</h2>
					<p>Сегодня уже есть возможность получить заем на непродолжительное время без справок о доходах. Прежде всего, конечно, нужно адекватно оценивать свои возможности и финансовое положение. Необходимо со всей ответственность подходить к выбору нужной компании, чтобы потом избежать различного рода форс-мажорных ситуаций.</p>
					<p>Прежде чем выбор падет на какую-то конкретную фирму или банковское учреждение обязательно обратите внимание на следующие аспекты:</p>
					<ul>
						<li>Условия, которые выставляются при кредитовании. Стоит заметить, что они могут существенно отличатся от других типов кредита, и будут намного лояльнее.</li>
						<li>Процентные ставки, обслуживания, персональный менеджер и консультант, который окажет Вам услуги, проинформирует и даст ответы на все вопросы.</li>
						<li>Ограничения кредитного лимита. Если выдается кредит безработным гражданам, стоит понимать и рассчитывать, что сумма может отличаться от предложений при наличии стабильного дохода и документального подтверждения.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Профессиональные услуги и минимальные требования.</h2>
					<p>Если присутствует изрядное количество сомнений по поводу выбора учреждения или компании, лучшим вариантом будут уже проверенные компании, с хорошей репутацией и большой базой клиентов.</p>
					<p>Очень важно обеспечить себя надежным партнером, который не только поможет решить финансовые трудности, но и в критической ситуации сможет пойти на уступки и компромиссы. Такие лидирующие компании как CashYou дают <b>кредит безработным</b> на выгодных условиях, при этом полностью доверяя своим клиентам. Подобные микрокредитные организации никогда не требуют:</p>
					<ul>
						<li>Справки о доходах и растратах, официального трудоустройства.</li>
						<li>Не практикуют выдачу кредитов под залог имущества, недвижимости или ценных вещей владельца.</li>
						<li>Обеспечивают максимальный комфорт для потребителя без привлечения поручительства и доверенных лиц.</li>
					</ul>
				</div>
				<div class="block">
					<h2>С какой целью может быть обеспечен <b>кредит безработным?</b></h2>
					<p>Зачастую от целевого направления зависит и решение о кредитовании и сама сумма. Деньги берут в долг чаще всего, чтобы:</p>
					<ul>
						<li>Приобрести бытовую технику;</li>
						<li>Съездить на курорт;</li>
						<li>Сделать срочную операцию.</li>
					</ul>
					<p>При этом не стоит забывать, что любая кредитная компания, даже работающая на микроуровне должна иметь представление о клиенте.</p>
					<p>Сегодня <b>кредит безработным</b> выдаётся практически моментально с индивидуальным подходом к каждому потребителю. CashYou не раздает деньги направо и налево, просто компания профессионально ведет дела, стараясь помочь людям, которые взяв в долг, смогут вернуть заемные средства вовремя.</p>
					<p>В короткий промежуток времени, и при наличии ИНН, паспорта гражданина Украины, банковской карточки и свободного доступа к сети интернет в возрасте от 18 лет, Вы можете воспользоваться этой услугой быстро и качественно.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
