{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Расчет кредита'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Кредитование – популярная на сегодняшний день услуга, к которой прибегают многие.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Расчет </b>кредита'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p><b>Кредитование</b> – популярная на сегодняшний день услуга, к которой прибегают многие. Но, в то же время — это очень рискованная услуга. Первым делом следует тщательно изучить все нюансы, иначе можно допустить ошибку при сотрудничестве с микрофинансовой организацией. Чтобы, не выходя из дома, рассчитать кредитование быстро и просто, есть возможность воспользоваться специальным онлайн калькулятором. С такой программой <b>расчет кредита</b> сможет выполнить каждый желающий.</p>
				</div>
				<div class="block">
					<h2>Преимущества данной программы</h2>
					<p><b>Расчет кредита</b> с помощью калькулятора обладает целым рядом преимуществ:</p>
					<ul>
						<li>использование калькулятора абсолютно бесплатное;</li>
						<li>расчет кредита выполняется максимально быстро;</li>
						<li>вам не обязательно будет выходить за пределы дома, идти в офис микрофинансовой организации;</li>
					</ul>
					<p>При желании клиент может экспериментировать и устанавливать разные параметры.</p>
					<p>Подобный инструмент со стопроцентной точностью покажет все необходимые параметры, что позволит понять: например, увеличивать или уменьшать срок кредитования либо же суммы.</p>
					<p>Точность и достоверность расчетов связана с видом кредитного калькулятора. В скрипт калькулятора CashYou вносят информацию об актуальных кредитных программах и процентных ставках.</p>
					<p>Обратите внимание, что перед тем как оформить заявку на получение кредита стоит тщательно изучить все условия кредитного договора. Так как даже небольшая погрешность может существенно повлиять на итоговую стоимость кредита. </p>
				</div>
				<div class="block">
					<p>В любом случае, рекомендуется связаться с менеджером CashYou. Все возникающие вопросы рекомендуется уточнять в режиме онлайн.</p>
					<p>Используя онлайн калькулятор, клиенты могут получить следующую информацию:</p>
					<ul>
						<li>какая оптимальная сумма кредита;</li>
						<li>когда предполагается гасить кредит;</li>
						<li>выбрать наиболее выгодный процент.</li>
					</ul>
					<p>Благодаря всем этим данным, Вы сможете подобрать оптимальный заем, который будет выдан на наиболее выгодных условиях.</p>
				</div>
				<div class="block">
					<h2>Как пользоваться калькулятором?</h2>
					<p><b>Расчет кредита</b> с помощью калькулятора выполняется быстро и удобно. Пользоваться такой программой предельно просто. Когда Вы открыли программу, а ее можно найти на сайтах микро финансовых структур, вам следует вписать следующую информацию:</p>
					<ul>
						<li>необходимая сумма кредита;</li>
						<li>срок, на протяжении которого Вы обязуетесь погасить кредит;</li>
						<li>в некоторых программах можно даже выбрать желаемую процентную ставку.</li>
					</ul>
					<p>Нажав после этого на кнопку «рассчитать», Вы увидите актуальную информацию по дальнейшему займу.</p>
					<p>Многие клиенты, воспользовавшись данной программой, думают, что результат, который они получили, достоверный, и даже не перечитывают условия договора, а сразу подписывают договор кредитования. Обязательно проверять все расчеты и внимательно читать договора.</p>
				</div>
				<div class="block">
					<p><b>Кредитный калькулятор</b> в CashYou – программа, которая дает приблизительный результат. Выполнив дома расчет кредита, можно смело связываться с менеджером CashYou для уточнения всех деталей.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
