{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит карту срочно'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Практически у каждого человека бывают ситуации, когда срочно нужны деньги, но одолжить их не у кого.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Кредит на карту срочно</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Практически у каждого человека бывают ситуации, когда срочно нужны деньги, но одолжить их не у кого. В таких случаях мы начинаем рассматривать все возможные варианты, изучать услуги банков. Но этот вариант подходит далеко не всем, ведь решение от банка нужно довольно-таки долго ждать. Наилучшим выходом из данной ситуации являются микрофинансовые организации, такие как CashYou. С их помощью можно оформить <b>кредит на карту срочно</b> без предоставления огромного количества документов. </p>
				</div>
				<div class="block">
					<h2>Как оформить кредит?</h2>
					<p><b>Кредит на карту срочно</b> оформить легко и просто и главным преимуществом является то, что Вам даже не придется выходить из дома. Все это можно сделать, имея доступ в Интернет и карточку любого банка Украины. В компании CashYou оформить кредит можно за считанные минуты, есть только два условия, без которых кредитование невозможно:</p>
					<ul>
						<li>совершеннолетие;</li>
						<li>наличие паспорта гражданина Украины;</li>
						<li>ИНН.</li>
					</ul>
					<p>Компания не требует полный пакет документов, но все же бывают случаи, когда менеджеры отказывают в кредитовании. К таким клиентам относятся те, кто находится в черном списке, то есть, кто когда-либо имел задолженности в данной организации либо не выплачивал вовремя кредит.</p>
				</div>
				<div class="block">
					<h2>Почему стоит выбирать МФО?</h2>
					<p>Микрофинансовые организации в последнее время пользуются огромной популярностью, и это связано с рядом преимуществ, которыми они обладают:</p>
					<ul>
						<li>оформление кредита занимает до 15 минут;</li>
						<li>нет необходимости предоставлять полный пакет документов, так как оформление кредита выполнятся на основании паспорта и ИНН;</li>
						<li>деньги компания присылает на карточку, после получения которых Вы сразу можете их снимать и тратить на свои нужды;</li>
						<li>погашать кредит можно несколькими способами – с помощью банковской карты, терминалов самообслуживания, банковским переводом.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Процентная ставка</h2>
					<p>Так как микрофинансовые организации практически никому не отказывают в предоставлении кредита, у них есть высокий риск невыплат со стороны заемщиков. Именно поэтому организации устанавливают высокий ежедневный процент. Так, например, если вы возьмете в кредит 1000 гривен, то каждый день вы будете переплачивать приблизительно 20 гривен. Как правило, МФО не снимают дополнительные комиссии или платежи за использование кредита.</p>
				</div>
				<div class="block">
					<h2>Что будет, если не выплатить кредит?</h2>
					<p>Микрофинансовые организации, в том числе и компания CashYou ставят следующие условия клиентам, которые не выплачивают задолженность:</p>
					<ul>
						<li>начало судового процесса, в результате которого клиент в принудительном порядке должен будет выплачивать задолженность. Либо же кредит будут выплачивать другие лица – поручители;</li>
						<li>обязательно начисляется штраф от 2% в первый день просрочки и каждый день он увеличивается еще на 2%, в результате получается немаленькая сумма.</li>
					</ul>
					<p>Даже одна просрочка может отрицательно повлиять на кредитную историю клиента и в следующий раз компания может уже отказать ему в предоставлении займа. Компания CashYou предлагает выгодные условия сотрудничества и придет на помощь в сложной ситуации. <br>Важно только соблюдать все прописанные правила.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
