{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит без справки о доходах'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Услуга быстрого кредитования с помощью кредит кафе стала очень востребованной в последнее время.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' Взять кредит<b> без справки о доходах</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Сегодня от финансовых трудностей практически никто не застрахован. Кредит может стать одним из вариантов пополнения семейного бюджета, когда не хватает определенной суммы.</p>
					<p>Действительно, удобно, взять в долг деньги без лишних проволочек буквально за несколько минут. Банки – это не те организации, у которых можно взять в займы тысячу гривен.</p>
				</div>
				<div class="block">
					<h2>Реально ли получить кредит?</h2>
					<p>В первую очередь стоит сказать о том, что практически все банки и финансовые компании обращают внимание на официальное подтверждение того что Вы получаете доход или зарплату. При этом на сегодняшний день практически 40% процентов населения страны официально не трудоустроены, не могут предоставить такой документ.</p>
					<p><b>Взять кредит без справки о доходах</b> все же возможно. Сумма такого займа будет значительно отличаться от других видов кредитования, но этот вариант отлично подойдет тем, кто решил:</p>
					<ul>
						<li>Сделать срочно медицинскую операцию;</li>
						<li>Купить бытовую технику или другие предметы домашнего обихода;</li>
						<li>Воспользоваться дополнительными средствами до зарплаты.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Позитивные и негативные стороны</h2>
					<p>Главными преимуществами, если Вы решили взять кредит без справки о доходах можно считать скорость, условия и тарифы кредитования. К сожалению, сразу никто не сможет предоставить большую сумму денег.</p>
					<p>Если кредитная история со времен будет образцовой, то занять необходимые средства можно будет в любой момент. И это действительно очень удобной является своего рода дополнительная страховка. Обстоятельства могут быть разные в жизни, в том числе и неприятные.</p>
					<p>Но при этом стоит помнить, чтобы взять кредит без справки о доходах Вам потребуется:</p>
					<ul>
						<li>Паспорт с подтверждением Вашего совершеннолетия;</li>
						<li>Карта плательщика налогов (идентификационный код);</li>
						<li>Указать контактный номер телефона для обратной связи, адрес электронной почты для оглашения решения.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Взять кредит без справки о доходах в CashYou</h2>
					<p>Теперь взять денег в долг намного проще. CashYou может переслать деньги на банковскую карту. При этом клиенту можно будет не выходить из дома, а лишь иметь компьютер с подключенным Интернетом.</p>
					<p>CashYou не будет требовать лишних справок или подтверждения официального трудоустройства. Поручительство тоже не требуется. К слову сказать, часто поручительство является основой для построения различных нечистоплотных схем. Вам не придется ходить на встречи в Банк, производить хорошее впечатление о себе и оставлять в залог собственное имущество.</p>
					<p>Чтобы оформить свою заявку и <b>взять кредит без справки о доходах</b> так быстро насколько возможно, потребуется лишь несколько минут свободного времени, а также доступ к Интернету. Заявку анализирует специальная компьютерная программа, которая одобряет или отклоняет ее. После заполнения всех полей в течение короткого периода времени Вам придет ответ. Если компания готова предоставить услуги по кредитованию, Вы сможете <b>взять кредит без справки о доходах</b>, и практически сразу получить необходимую Вам сумму на карту.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
