{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Процентная ставка по кредиту'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'При оформлении любого кредита клиент обязуется вернуть микрофинансовой компании всю сумму с начисленными процентами.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Процентная ставка </b> по кредиту'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>При оформлении любого кредита клиент обязуется вернуть микрофинансовой компании всю сумму с начисленными процентами. Все компании утверждают определенные ставки, размер которых зависит от вида кредитования. Как правило, микрофинансовые фирмы, такие как CashYou, устанавливают ежедневную процентную ставку, но в договоре всегда указывается годовая <b>процентная ставка по кредиту.</b></p>
				</div>
				<div class="block">
					<h2>Как оформить кредит в CashYou?</h2>
					<p>Оформление кредита в микрофинансовых организациях занимает минимум времени. Чтобы Вам предоставили кредит, следует выполнить следующие процедуры:</p>
					<ul>
						<li>Заполнить анкету, в которой указывается вся достоверная информация о себе. Ошибок и неточностей не должно быть иначе Вам откажут в кредите;</li>
						<li>Представить необходимые копии документов.</li>
					</ul>
					<p>Ответ долго ждать не придется; через 15 минут Вы узнаете, одобрили Ваше заявление или же Вам отказали в предоставлении кредита. Если Вы все выполнили правильно, и ранее не было задолженностей у этой компании, то вероятность того, что Вашу заявку одобрят - это 90%. Учтите, что Ваше социальное положение и отсутствие справки о доходах совершенно никак не повлияют на решение работников фирмы. Главным условием для предоставления кредита является совершеннолетие клиента.</p>
					<p>Когда Вашу заявку подтвердили, то уже через 15 минут деньги будут зачислены на карточку. Если Вы ранее уже брали кредиты в нашей компании и зарекомендовали себя с хорошей стороны, время ожидания сокращается практически до нескольких секунд.</p>
				</div>
				<div class="block">
					<h2>Как начисляется процентная ставка по кредиту?</h2>
					<p>Процентная ставка по кредиту устанавливается компанией в зависимости от таких факторов, как:</p>
					<ul>
						<li>сумма кредитования;</li>
						<li>срок кредитования;</li>
						<li>статус компании.</li>
					</ul>
					<p>Например, если Вы берете кредит в компании CashYou, ежедневная <b>процентная ставка по кредиту</b> составляет 1,9%, то с 1000 грн. каждый день будете переплачивать 19 гривен. Микрофинансовая организация предоставляет кредиты клиентам на основании договора, который действителен до момента выполнения всех обязательств обеими сторонами.</p>
				</div>
				<div class="block">
					<p>Процентная ставка по кредиту высчитывается менеджерами компаний. Но клиенты могут сделать этот процесс и самостоятельно, воспользовавшись такой программой, как онлайн калькулятор. Им пользоваться предельно просто и легко, и даже человек без больших познаний в финансовой сфере сможет быстро разобраться.</p>
					<p>Неоспоримым преимуществом подобных организаций является то, что деньги начисляются на карточку максимально быстро.</p>
					<p>Выплачивать кредит можно несколькими способами:</p>
					<ul>
						<li>через электронные терминалы, которых сейчас великое множество;</li>
						<li>банковским переводом;</li>
						<li>через интернет банкинг.</li>
					</ul>
					<p>Рекомендуется обязательно оставлять платежные документы, подтверждающие совершенную транзакцию. </p>
					<p>Как видим, сложностей нет никаких, главное вовремя выплатить заем. Любое микрокредитование требует определенной финансовой дисциплины, поэтому рекомендуется распланировать график возврата средств.</p>
				</div>
				
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
