{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Для инвесторов Cashyou'|trans }}</title>{% endblock %}
{# {% block meta %}<meta name="description" content="{{ 'Громкие новости финансового мира и  акутальные известия о системе. Все последние изменения и события в Cashyou и финансовом мире.'|trans }}">{% endblock %} #}

{# {% block bodyAttributes %} class="investors"{% endblock %} #}

{% block mainContent %}
<div class="investors">
	<section class="content-section invest-section">
		<div class="container">
			<div class="invest-info">
				<p>Выгодное предложение для вас</p>
				<h2>Инвестируй свои деньги выгодно</h2>
			</div>
			<div class="invest-view">
				<div class="investment-window">
					<p class="investment-amount" id="investment-amount">100 000</p>
					<p class="amount-description">Сумма инвестиции</p>

					<div class="tabs investment-tabs">
						<input class="jcf-off" id="investment-tab1" type="radio" name="investment-tabs" value="100000">
						<label for="investment-tab1">100 000</label>
						<input class="jcf-off" id="investment-tab2" type="radio" name="investment-tabs" value="500000" checked>
						<label for="investment-tab2">500 000</label>
						<input class="jcf-off" id="investment-tab3" type="radio" name="investment-tabs" value="1000000">
						<label for="investment-tab3">1 000 000</label>
						<input class="jcf-off" id="investment-tab4" type="radio" name="investment-tabs" value="1500000">
						<label for="investment-tab4">1 500 000</label>
					</div>

					<div class="month">
						<span class="month-text">на срок </span>
						<div class="tabs month-tabs">
							<input class="jcf-off" id="month-tab1" type="radio" name="month-tabs" checked>
							<label for="month-tab1">6</label>
							<input class="jcf-off" id="month-tab2" type="radio" name="month-tabs">
							<label for="month-tab2">12</label>
							<input class="jcf-off" id="month-tab3" type="radio" name="month-tabs">
							<label for="month-tab3">18</label>
							<input class="jcf-off" id="month-tab4" type="radio" name="month-tabs">
							<label for="month-tab4">24</label>
							<input class="jcf-off" id="month-tab5" type="radio" name="month-tabs">
							<label for="month-tab5">36</label>
						</div>
						<span class="month-text"> месяцев</span>
					</div>

					<div class="investment-window-result">
						<p class="investment-window-rate">22%</p>
						<p class="investment-window-income" id="investment-window-income">12 000</p>
						<p class="result-description">Процентная ставка:</p>
						<p class="result-description">Ваш доход:</p>
					</div>

					<div class="investment-window-button">
						<button class="button" type="submit">Связаться со мной</button>
						<button id="count" class="button" type="submit">Посчитать</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content-section reinvest-section">
		<div class="container">

			<div class="reinvest">
				<input class="jcf-off" id="tab1" type="radio" name="tabs" checked><label for="tab1">Реинвестироватьт проценты</label><input class="jcf-off" id="tab2" type="radio" name="tabs"><label for="tab2">Ежемесячные выплаты</label>

				<div class="tabs">
					<div class="tab" id="tabs-content1">
						<div class="tab-column tab-column-1">
							<table>
								<tr>
									<td class="orange-line">Сумма <br>инвестиций</td>
									<td><span id="amount-investment">100 000</span> uah</td>
								</tr>
								<tr>
									<td><span id="interest-rate">22</span> %<br><span class="small-font">Процентная<span class="req">*</span><br>ставка</span></td>
									<td><span id="term-interest-rate">15</span> месяцев<br><span class="small-font">Срок процентной<span class="req">*</span><br>ставки</span></td>
								</tr>
								<tr>
									<td><span id="reinvest-total-income">5000</span> uah<br><span class="small-font">Общий процентный<span class="req">*</span>доход</span></td>
									<td><span id="reinvest-monthly-payments">0</span> uah<br><span class="small-font">Ежемесячные<span class="req">*</span><br>начисления</span></td>
								</tr>
								<tr>
									<td class="orange-line">Общий <br>доход</td>
									<td><span id="reinvest-total-revenue">50 000</span> uah</td>
								</tr>
							</table>
							<button class="button" type="submit">Связаться со мной</button>
						</div>
						<div class="tab-column tab-column-2">
							<h2>Получить специальный бонус</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<button class="button" type="submit">Получить</button>
						</div>
					</div>

					<div class="tab" id="tabs-content2">
						<div class="tab-column tab-column-1">
							<table>
								<tr>
									<td class="orange-line">Сумма <br>инвестиций</td>
									<td><span id="amount-investment">100 000</span> uah</td>
								</tr>
								<tr>
									<td><span id="interest-rate">22</span> %<br><span class="small-font">Процентная<span class="req">*</span><br>ставка</span></td>
									<td><span id="ter-interest-rate">15</span> месяцев<br><span class="small-font">Срок процентной<span class="req">*</span><br>ставки</span></td>
								</tr>
								<tr>
									<td><span id="monthly-total-income">5000</span> uah<br><span class="small-font">Общий процентный<span class="req">*</span><br>доход</span></td>
									<td><span id="monthly-payments">0</span> uah<br><span class="small-font">Ежемесячные<span class="req">*</span><br>начисления</span></td>
								</tr>
								<tr>
									<td class="orange-line">Общий <br>доход</td>
									<td><span id="monthly-total-revenue">50 000</span> uah</td>
								</tr>
							</table>
							<button class="button" type="submit">Связаться со мной</button>
						</div>
						<div class="tab-column tab-column-2">
							<h2>Получить специальный бонус</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<button class="button" type="submit">Получить</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="content-section advantages-section">
		<div class="container">
			<h2>Почему именно мы?</h2>
			<p class="advantages-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			<ul class="advantages">
				<li>
					<svg fill="#ff6200" class="advantages-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
						<g>
							<g>
								<path d="M472,48H320c-4.4,0-8,3.6-8,8v24h-24c-4.4,0-8,3.6-8,8v91.1L222.1,208H8c-4.4,0-8,3.6-8,8v208c0,4.4,3.6,8,8,8h160
									c4.4,0,8-3.6,8-8v-22.6l86.7,14.4c0.4,0.1,0.9,0.1,1.3,0.1h120c11.4,0,21.9-6.1,27.6-16H440c4.4,0,8-3.6,8-8v-24h24
									c4.4,0,8-3.6,8-8V56C480,51.6,476.4,48,472,48z M160,416H16V224h144V416z M328,64h136v175.1c-0.1-5-1.5-10.1-4.2-14.8
									c-2.8-4.9-6.9-9-11.8-11.8V88c0-4.4-3.6-8-8-8H328V64z M296,96h136v112h-16v-72c0-4.4-3.6-8-8-8s-8-3.6-8-8s-3.6-8-8-8h-56
									c-4.4,0-8,3.6-8,8s-3.6,8-8,8s-8,3.6-8,8v72h-16V96z M400,142.6V208h-72v-65.4c6.8-2.4,12.2-7.8,14.6-14.6h42.7
									C387.8,134.8,393.2,140.2,400,142.6z M432,384h-16c0-6.3-1.9-12.5-5.4-17.8c16.7-5.8,25.5-24.1,19.6-40.8c-0.9-2.5-2.1-5-3.6-7.2
									c1.9-0.7,3.7-1.5,5.4-2.6V384z M432,256h-32c-4.4,0-8,3.6-8,8s3.6,8,8,8h16c8.8,0,16,7.2,16,16s-7.2,16-16,16h-32
									c-4.4,0-8,3.6-8,8s3.6,8,8,8h16c8.8,0,16,7.2,16,16s-7.2,16-16,16h-32c-4.4,0-8,3.6-8,8s3.6,8,8,8h16c8.8,0,16,7.2,16,16
									s-7.2,16-16,16H264.7L176,385.2V224h48c1.2,0,2.5-0.3,3.6-0.8l52.4-26.2V216c0,4.4,3.6,8,8,8h144c8.8,0,16,7.2,16,16
									S440.8,256,432,256z M448,352v-84.4c10-5.7,15.7-16,16-26.6v111H448z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M112,336c-17.7,0-32,14.3-32,32s14.3,32,32,32s32-14.3,32-32S129.7,336,112,336z M112,384c-8.8,0-16-7.2-16-16
									s7.2-16,16-16s16,7.2,16,16S120.8,384,112,384z"/>
							</g>
						</g>
					</svg>
					<h3 class="orange-line">Инвестиция</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				</li>
				<li>
					<svg fill="#ff6200" class="advantages-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 488 488" style="enable-background:new 0 0 488 488;" xml:space="preserve">
						<g>
							<g>
								<path d="M207.7,17.7l8.6,13.5c31.6-19.8,71.7-19.8,103.3,0l8.6-13.5C291.5-5.9,244.4-5.9,207.7,17.7z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M172,112h-16c0,14.8,2.9,29.5,8.6,43.1l14.8-6.2C174.5,137.2,172,124.7,172,112z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M304.9,200.6c-11.7,4.9-24.2,7.4-36.9,7.4v16c14.8,0,29.4-2.9,43.1-8.6L304.9,200.6z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M364,112c0,12.7-2.5,25.2-7.4,36.9l14.8,6.2c5.7-13.6,8.6-28.3,8.6-43.1C380,112,364,112,364,112z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M268,32c-44.2,0-80,35.8-80,80s35.8,80,80,80c44.2,0,80-35.8,80-80C348,67.8,312.2,32,268,32z M268,176
									c-35.3,0-64-28.7-64-64s28.7-64,64-64s64,28.7,64,64C332,147.3,303.3,176,268,176z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M285.6,109.4l-9.6-3.2V85.7c4.5,1.6,7.6,5.6,8,10.3h16c-0.7-13.5-10.7-24.7-24-27v-5h-16v5c-13.3,2.3-23.3,13.5-24,27
									c0.3,8.6,6.1,16.1,14.4,18.6l9.6,3.2v20.5c-4.5-1.6-7.6-5.6-8-10.3h-16c0.7,13.5,10.7,24.7,24,27v5h16v-5
									c13.3-2.3,23.3-13.5,24-27C299.7,119.4,293.9,111.9,285.6,109.4z M260,100.9l-4.6-1.5c-2-0.7-3.4-2.1-3.4-3.4
									c0.4-4.7,3.5-8.7,8-10.3V100.9z M276,138.3v-15.2l4.6,1.5c2,0.7,3.4,2.1,3.4,3.4C283.6,132.7,280.5,136.7,276,138.3z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M481.7,330.3L455.3,304l26.3-26.3c3.1-3.1,3.1-8.2,0-11.3l-104-104c-3.1-3.1-8.2-3.1-11.3,0L264,264.7L153.7,154.3
									c-3.1-3.1-8.2-3.1-11.3,0l-104,104c-3.1,3.1-3.1,8.2,0,11.3L96.7,328H4v16h104c1.1,0,2.2-0.2,3.2-0.6l54.5-23.4H284v32h-88
									c-4.4,0-8,3.6-8,8c0,3.1,1.8,6,4.6,7.3l104,48c2.6,1.2,5.7,0.9,8-0.8l138.6-100l21.1,21.1L305,472h-43.6l-150.7-55.5
									c-0.9-0.3-1.8-0.5-2.8-0.5H4v16h102.6l150.7,55.5c0.9,0.3,1.8,0.5,2.8,0.5h48c1.9,0,3.8-0.7,5.2-1.9l168-144
									c3.4-2.9,3.7-7.9,0.9-11.3C481.9,330.6,481.8,330.5,481.7,330.3z M164,304c-1.1,0-2.2,0.2-3.2,0.6l-1.9,0.8
									c7.9-20.5,30.9-30.7,51.4-22.8c10,3.8,18,11.5,22.2,21.4H164z M249.6,304c-7-23.8-28.9-40.1-53.6-40
									c-28.3,0.2-52.1,21.3-55.6,49.4l-25,10.7L55.3,264l92.7-92.7L280.7,304H249.6z M299.1,398.8L232.4,368H292c4.4,0,8-3.6,8-8v-36.7
									l43.4,43.4L299.1,398.8z M300.7,301.4c3-17.1,17.9-29.5,35.2-29.4c19.8,0,35.9,16,36,35.9c0,17.4-12.4,32.3-29.4,35.4L300.7,301.4
									z M355.5,356.2c3.2-1.3,6.3-2.9,9.2-4.8l-8.1,5.9L355.5,356.2z M438.8,297.9l-70.5,50.9c22.5-17.9,26.2-50.6,8.3-73.1
									c-17.9-22.5-50.6-26.2-73.1-8.3c-7,5.5-12.4,12.8-15.7,21L275.3,276l96.7-96.7l92.7,92.7L438.8,297.9z"/>
							</g>
						</g>
					</svg>
					<h3 class="orange-line">Оборот</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				</li>
				<li>
					<svg fill="#ff6200" class="advantages-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 464.1 464.1" style="enable-background:new 0 0 464.1 464.1;" xml:space="preserve">
						<g>
							<g>
								<path d="M464,277.8c0-61.6-25.4-142.2-96-171.1V75.9l21-16.8c1.9-1.5,3-3.8,3-6.2V8c0-4.4-3.6-8-8-8h-24c-2.1,0-4.2,0.8-5.7,2.3
									L344,12.7L333.7,2.4C332.2,0.9,330.1,0,328,0h-32c-2.1,0-4.2,0.8-5.7,2.3L280,12.7L269.7,2.4C268.2,0.9,266.1,0,264,0h-24
									c-4.4,0-8,3.6-8,8v44.8c0,2.4,1.1,4.7,3,6.2l21,16.8v30.9c-70.6,28.9-96,109.5-96,171.1c-0.1,14.4,2.1,28.8,6.6,42.5
									c-3.4-0.2-6.9-0.3-10.4-0.3H136c0-4.4-3.6-8-8-8H64c-4.4,0-8,3.6-8,8H0v16h56v80H0v16h56c0,4.4,3.6,8,8,8h64c4.4,0,8-3.6,8-8v-3
									l59.7,24.8c32.6,13.3,69,13.7,101.8,1.1l123.6-47.1c7.3-2.8,13.2-8.4,16.3-15.6c4.8-10.7,2.8-23.3-5.2-31.9
									C453.8,338.4,465.3,308.5,464,277.8z M120,424H72v-96h48V424z M248,49V16h12.7l13.7,13.7c3.1,3.1,8.2,3.1,11.3,0L299.3,16h25.4
									l13.7,13.7c3.1,3.1,8.2,3.1,11.3,0L363.3,16H376v33l-18.8,15h-90.4L248,49z M352,80v24h-80V80H352z M422.8,385.8
									c-1.4,3.3-4.1,5.8-7.4,7.1L291.8,440c-29,11.1-61.2,10.8-90-1L136,411.7V336h20.3c26.5,0,52.7,6.2,76.4,18c7.8,3.9,16.5,6,25.2,6
									H320c6.6,0,12,5.5,11.9,12.1c0,5.6-3.9,10.4-9.3,11.6c-1,0.1-2.1,0.3-3.1,0.3H224v16h95.5c0.2,0,0.3,0,0.5,0c0.2,0,0.3,0,0.5,0
									c6.3-0.1,12.6-1.4,18.5-3.9l66.9-28.4c3.2-1.4,6.8-1.4,10,0c3.3,1.4,5.9,4.1,7.2,7.4C424.4,378.6,424.3,382.4,422.8,385.8z
									M418,351.7c-6.1-1.6-12.6-1.2-18.4,1.3l-51.9,22c0.2-1,0.3-2,0.3-2.9c0-15.5-12.5-28-28-28h-62.1c-6.3,0-12.5-1.5-18.1-4.3
									c-17.4-8.6-36-14.5-55.1-17.5c-6-14.1-9-29.2-8.7-44.5c0-57.6,23.5-133.2,89.6-157.8h92.8c66.1,24.6,89.6,100.2,89.6,157.8
									C449.3,305.6,438.4,332.7,418,351.7z"/>
							</g>
						</g>
						<g>
							<g>
								<rect x="88" y="392" width="16" height="16"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M329,229.3l-28.9-9.6c-3.1-1-4.8-4.4-3.8-7.5c0.8-2.4,3.1-4.1,5.7-4.1h20.1c3.3,0,5.9,2.7,5.9,6v5.2h16V214
									c0-12.1-9.8-21.9-21.9-22H320v-16h-16v16h-2.1c-12.1,0-22,9.8-22,21.9c0,9.5,6,17.9,15,20.8l28.9,9.6c3.1,1,4.8,4.4,3.8,7.5
									c-0.8,2.4-3.1,4.1-5.7,4.1h-20.1c-3.3,0-5.9-2.7-5.9-6v-5.2h-16v5.2c0,12.1,9.8,21.9,21.9,22h2.1v16h16v-16h2.1
									c12.1,0,22-9.8,22-21.9C344,240.6,338,232.3,329,229.3z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M312,144c-48.6,0-88,39.4-88,88c0.1,48.6,39.4,87.9,88,88c48.6,0,88-39.4,88-88S360.6,144,312,144z M312,304
									c-39.8,0-72-32.2-72-72c0-39.7,32.3-72,72-72c39.8,0,72,32.2,72,72S351.8,304,312,304z"/>
							</g>
						</g>
					</svg>
					<h3 class="orange-line">24%</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="content-section cases-section">
		<div class="container">
			<h2 class="orange-line">Кейсы</h2>
			<p class="cases-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
			<ul class="cases">
				<li>
					<svg fill="#ff6200" class="cases-img" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
						<path d="M467.8,206.8c2.5,1.5,5.6,1.6,8.1,0.2c2.5-1.4,4.1-4.1,4.1-7v-48c0-2.8-1.4-5.3-3.8-6.8l-232-144c-2.6-1.6-5.8-1.6-8.4,0
							L128,68.1V48c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v49.9L3.8,145.2c-2.4,1.5-3.8,4-3.8,6.8v48c0,2.9,1.6,5.6,4.1,7
							c2.5,1.4,5.6,1.3,8.1-0.2L32,194.5V472c0,4.4,3.6,8,8,8h400c4.4,0,8-3.6,8-8v-82.9c16.7-5.9,28.8-20.5,31.4-37.9
							c2.7-17.5-4.5-35-18.6-45.6c-0.8-0.6-1.5-1-2.3-1.5c10.2-21.2,5.9-46.4-10.5-63.1v-46.5L467.8,206.8z M96,56h16v22L96,88V56z
							M16,156.5l224-139l224,139v29.2L244.2,49.2c-2.6-1.6-5.8-1.6-8.4,0L16,185.6V156.5z M96,464V256h96v208H96z M352,464V352h16v112
							H352z M432,464h-48v-72h48V464z M464,344c0,15.2-10.8,28.4-25.7,31.4c-2.1,0.4-4.2,0.6-6.3,0.6h-48v-32c0-4.4-3.6-8-8-8h-32
							c-4.4,0-8,3.6-8,8v32h-56c-13.3,0-24-10.7-24-24c0-4.3,1.2-8.4,3.4-12.1c7.5,7.7,17.8,12.1,28.6,12.1c1,0,2-0.1,2.9-0.3
							c4.2-1,6.8-5.1,6-9.3c-0.8-4.2-4.8-7-9-6.4c-13.2,0-23.9-10.8-23.9-24c0-1.1,0.1-2.3,0.2-3.4c1.1-7.8,6-14.6,13.1-18.1
							c1.7-0.9,3.5-1.5,5.4-1.9h0.1c5.7-1.3,11.6-0.4,16.7,2.4c3.9,2.2,8.7,0.8,10.9-3.1c2.2-3.9,0.8-8.7-3.1-10.9
							c-5.8-3.2-12.2-4.8-18.8-4.9c-0.2,0-0.4-0.1-0.6-0.1c-0.8,0-1.5,0.2-2.2,0.2c-1.4,0.1-2.7,0.2-4,0.4c-0.6,0.1-1.1,0.1-1.7,0.2
							c0-0.3-0.1-0.5-0.1-0.8c0-15.2,10.8-28.4,25.7-31.4c2.1-0.4,4.1-0.7,6.2-0.6c6.8,0,13.5,2.2,18.9,6.2c3.6,2.6,8.6,1.9,11.2-1.7
							s1.9-8.6-1.7-11.2c-8-5.9-17.6-9.1-27.5-9.2h-0.1c0-0.2,0.1-0.4,0.2-0.6c0.5-2.2,1.2-4.3,2-6.4c0.3-0.8,0.8-1.5,1.1-2.2
							c0.7-1.5,1.4-2.9,2.3-4.2c0.5-0.8,1.1-1.5,1.7-2.3c0.9-1.2,1.8-2.3,2.8-3.4c0.7-0.7,1.4-1.4,2.1-2c1.1-1,2.2-1.9,3.4-2.8
							c0.8-0.6,1.6-1.1,2.4-1.7c1.3-0.8,2.6-1.5,3.9-2.1c0.8-0.4,1.7-0.8,2.6-1.2c1.6-0.6,3.1-1.1,4.8-1.5c0.8-0.2,1.6-0.5,2.4-0.6
							c5.1-1.1,10.4-1.1,15.6-0.1c0.8,0.2,1.6,0.5,2.4,0.8c1.7,0.4,3.4,1,5,1.6c0.9,0.4,1.6,0.9,2.5,1.3c1.5,0.7,2.9,1.5,4.3,2.3
							c0.8,0.6,1.5,1.3,2.3,1.9c1.3,0.9,2.4,1.9,3.6,3c0.8,0.8,1.4,1.6,2,2.5c1,1.1,2,2.2,2.8,3.4c0.6,0.9,1.1,2,1.6,3
							c0.8,1.2,1.5,2.5,2.1,3.8c0.5,1.1,0.7,2.2,1.1,3.4c0.5,1.3,0.9,2.7,1.3,4.1c0.3,1.2,0.3,2.4,0.4,3.6c0.2,1.5,0.4,3,0.4,4.4
							c0,0.3-0.1,0.6-0.1,0.9c0,7.4-2.2,14.5-6.2,20.7c-2.4,3.7-1.3,8.7,2.5,11.1c3.7,2.4,8.7,1.3,11.1-2.5c4.2-6.7,7-14.2,8.1-22
							c0.2,0,0.4-0.1,0.7-0.1c13.8,0,26.6,7.1,33.9,18.8s8.1,26.3,2,38.7c-0.7-0.2-1.5-0.4-2.2-0.6c-3.2-0.7-6.4-1-9.7-1
							c-15.1-0.1-29.4,7.1-38.4,19.3c-2.6,3.5-1.9,8.5,1.6,11.2s8.6,1.9,11.2-1.6c6-8.1,15.5-12.9,25.6-12.8c2.2,0,4.4,0.2,6.6,0.7
							c2.1,0.4,4.1,1.1,6,2c2.4,1,4.6,2.2,6.6,3.8C459.2,324.5,464,333.9,464,344z M432,184.6v44.8c-0.3-0.2-0.7-0.3-1.1-0.4
							c-1.3-0.6-2.6-1.1-4-1.6c-0.7-0.3-1.4-0.5-2.1-0.7c-1.1-0.4-2.2-0.7-3.3-0.9c-0.8-0.2-1.7-0.4-2.6-0.6c-1-0.2-2-0.3-3-0.5
							s-1.8-0.3-2.8-0.4c-1.7-0.2-3.5-0.3-5.2-0.3h-0.2c-0.1,0-0.2,0-0.4,0c-0.1-0.6-0.2-1.2-0.3-1.8c-0.1-0.8-0.3-1.5-0.4-2.3
							c-0.2-1-0.5-2-0.8-3c-0.2-0.7-0.4-1.4-0.6-2.1c-0.3-1-0.7-2-1.1-3c-0.3-0.6-0.5-1.3-0.7-1.9c-0.5-1.2-1.1-2.3-1.6-3.4
							c-0.2-0.4-0.4-0.9-0.6-1.3c-0.8-1.5-1.7-3-2.7-4.4c-0.2-0.3-0.4-0.6-0.6-0.8c-0.8-1.1-1.6-2.2-2.5-3.3c-0.4-0.5-0.8-0.9-1.2-1.4
							c-0.7-0.8-1.5-1.7-2.2-2.5c-0.5-0.5-1-0.9-1.5-1.4c-0.8-0.7-1.5-1.4-2.3-2.1c-0.5-0.5-1.1-0.9-1.7-1.3c-0.8-0.6-1.6-1.2-2.4-1.8
							c-0.6-0.4-1.2-0.8-1.8-1.2c-0.8-0.5-1.7-1.1-2.5-1.6c-0.6-0.4-1.3-0.7-2-1.1c-0.9-0.5-1.8-0.9-2.7-1.3c-0.7-0.3-1.4-0.6-2-0.9
							c-1-0.4-1.9-0.7-2.9-1.1c-0.7-0.2-1.4-0.5-2.1-0.7c-1-0.3-2.1-0.6-3.1-0.8c-0.7-0.2-1.4-0.3-2-0.5c-1.2-0.2-2.4-0.4-3.6-0.6
							c-0.6-0.1-1.2-0.2-1.8-0.2c-1.8-0.2-3.6-0.3-5.5-0.3s-3.7,0.1-5.6,0.3c-0.6,0.1-1.2,0.2-1.8,0.3c-1.2,0.2-2.4,0.3-3.6,0.6
							c-0.7,0.1-1.4,0.3-2.1,0.5c-1.1,0.3-2.1,0.5-3.2,0.8c-0.7,0.2-1.4,0.5-2.1,0.7c-1,0.3-2,0.7-2.9,1.1c-0.7,0.3-1.4,0.6-2.1,0.9
							c-0.9,0.4-1.8,0.8-2.7,1.3c-0.7,0.4-1.4,0.8-2,1.2c-0.9,0.5-1.7,1-2.5,1.5c-0.7,0.4-1.3,0.9-1.9,1.3c-0.8,0.6-1.6,1.1-2.3,1.7
							c-0.6,0.5-1.2,1-1.8,1.5c-0.7,0.6-1.4,1.3-2.1,1.9c-0.6,0.5-1.1,1.1-1.7,1.7c-0.7,0.7-1.3,1.4-1.9,2.1c-0.5,0.6-1,1.2-1.5,1.8
							c-0.6,0.8-1.2,1.5-1.7,2.3c-0.5,0.6-0.9,1.3-1.4,1.9c-0.5,0.8-1,1.6-1.5,2.5c-0.4,0.7-0.8,1.4-1.2,2.1c-0.4,0.9-0.9,1.7-1.3,2.6
							c-0.3,0.7-0.7,1.4-1,2.2c-0.4,0.9-0.7,1.8-1,2.8c-0.3,0.8-0.6,1.5-0.8,2.3c-0.3,1-0.5,2-0.8,2.9c-0.2,0.8-0.4,1.5-0.6,2.3
							c-0.2,1-0.3,2.1-0.5,3.2c-0.1,0.7-0.2,1.5-0.3,2.2v0.1c-0.3,0.1-0.6,0.3-1,0.4c-1,0.4-2,0.9-3,1.3c-1.4,0.6-2.8,1.3-4.1,2
							c-1,0.6-1.9,1.2-2.8,1.8c-1.3,0.8-2.5,1.7-3.6,2.6c-0.9,0.7-1.7,1.4-2.5,2.2c-1.1,1-2.1,2.1-3.1,3.2c-0.7,0.8-1.4,1.6-2.1,2.5
							c-0.9,1.2-1.8,2.5-2.6,3.7c-0.6,0.9-1.2,1.8-1.7,2.7c-0.7,1.4-1.4,2.8-2,4.3c-0.4,0.9-0.8,1.9-1.2,2.8c-0.6,1.7-1,3.4-1.4,5.1
							c-0.2,0.9-0.5,1.7-0.6,2.5c-0.9,5.1-0.9,10.3-0.1,15.4v0.3c-1.2,0.9-2.4,1.8-3.5,2.8c-0.1,0.1-0.2,0.2-0.3,0.3
							c-1.2,1.1-2.4,2.3-3.4,3.6c-0.4,0.4-0.7,0.9-1,1.4c-0.7,0.9-1.4,1.8-2,2.8c-0.4,0.6-0.7,1.1-1,1.7c-0.5,0.9-1,1.8-1.5,2.8
							c-0.3,0.6-0.6,1.2-0.8,1.9c-0.4,1-0.8,2-1.1,3c-0.2,0.6-0.4,1.2-0.6,1.9c-0.3,1.1-0.5,2.3-0.7,3.4c-0.1,0.6-0.2,1.1-0.3,1.7
							c-0.5,3.8-0.5,7.6,0.1,11.3c0.1,0.6,0.2,1.1,0.3,1.7c0.3,1.5,0.7,3,1.2,4.5c0.1,0.3,0.2,0.7,0.3,1c-0.2,0.2-0.3,0.4-0.4,0.5
							c-1.5,1.6-2.8,3.4-3.9,5.2c-0.1,0.1-0.1,0.2-0.1,0.3c-1.1,1.8-2,3.7-2.8,5.6c-0.2,0.4-0.3,0.7-0.4,1.1c-0.7,2-1.3,4-1.7,6.1
							c-0.1,0.4-0.1,0.8-0.2,1.2c-0.4,2.2-0.5,4.5-0.5,6.7c0,22.1,17.9,40,40,40h56v72H208V248c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v216
							H48V184.6L240,65.4L432,184.6z"/>
						<path d="M240,200c26.5,0,48-21.5,48-48c0-26.5-21.5-48-48-48c-26.5,0-48,21.5-48,48C192,178.5,213.5,200,240,200z M209.1,160H232
							v22.9C220.8,179.9,212.1,171.2,209.1,160z M248,182.9V160h22.9C267.9,171.2,259.2,179.9,248,182.9z M270.9,144H248v-22.9
							C259.2,124.1,267.9,132.8,270.9,144z M232,121.1V144h-22.9C212.1,132.8,220.8,124.1,232,121.1z"/>
					</svg>
					<h3 class="orange-line">Недвижимость</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
				</li>
				<li>
					<svg fill="#ff6200" class="cases-img" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
						<path d="M467.8,206.8c2.5,1.5,5.6,1.6,8.1,0.2c2.5-1.4,4.1-4.1,4.1-7v-48c0-2.8-1.4-5.3-3.8-6.8l-232-144c-2.6-1.6-5.8-1.6-8.4,0
							L128,68.1V48c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v49.9L3.8,145.2c-2.4,1.5-3.8,4-3.8,6.8v48c0,2.9,1.6,5.6,4.1,7
							c2.5,1.4,5.6,1.3,8.1-0.2L32,194.5V472c0,4.4,3.6,8,8,8h400c4.4,0,8-3.6,8-8v-82.9c16.7-5.9,28.8-20.5,31.4-37.9
							c2.7-17.5-4.5-35-18.6-45.6c-0.8-0.6-1.5-1-2.3-1.5c10.2-21.2,5.9-46.4-10.5-63.1v-46.5L467.8,206.8z M96,56h16v22L96,88V56z
							M16,156.5l224-139l224,139v29.2L244.2,49.2c-2.6-1.6-5.8-1.6-8.4,0L16,185.6V156.5z M96,464V256h96v208H96z M352,464V352h16v112
							H352z M432,464h-48v-72h48V464z M464,344c0,15.2-10.8,28.4-25.7,31.4c-2.1,0.4-4.2,0.6-6.3,0.6h-48v-32c0-4.4-3.6-8-8-8h-32
							c-4.4,0-8,3.6-8,8v32h-56c-13.3,0-24-10.7-24-24c0-4.3,1.2-8.4,3.4-12.1c7.5,7.7,17.8,12.1,28.6,12.1c1,0,2-0.1,2.9-0.3
							c4.2-1,6.8-5.1,6-9.3c-0.8-4.2-4.8-7-9-6.4c-13.2,0-23.9-10.8-23.9-24c0-1.1,0.1-2.3,0.2-3.4c1.1-7.8,6-14.6,13.1-18.1
							c1.7-0.9,3.5-1.5,5.4-1.9h0.1c5.7-1.3,11.6-0.4,16.7,2.4c3.9,2.2,8.7,0.8,10.9-3.1c2.2-3.9,0.8-8.7-3.1-10.9
							c-5.8-3.2-12.2-4.8-18.8-4.9c-0.2,0-0.4-0.1-0.6-0.1c-0.8,0-1.5,0.2-2.2,0.2c-1.4,0.1-2.7,0.2-4,0.4c-0.6,0.1-1.1,0.1-1.7,0.2
							c0-0.3-0.1-0.5-0.1-0.8c0-15.2,10.8-28.4,25.7-31.4c2.1-0.4,4.1-0.7,6.2-0.6c6.8,0,13.5,2.2,18.9,6.2c3.6,2.6,8.6,1.9,11.2-1.7
							s1.9-8.6-1.7-11.2c-8-5.9-17.6-9.1-27.5-9.2h-0.1c0-0.2,0.1-0.4,0.2-0.6c0.5-2.2,1.2-4.3,2-6.4c0.3-0.8,0.8-1.5,1.1-2.2
							c0.7-1.5,1.4-2.9,2.3-4.2c0.5-0.8,1.1-1.5,1.7-2.3c0.9-1.2,1.8-2.3,2.8-3.4c0.7-0.7,1.4-1.4,2.1-2c1.1-1,2.2-1.9,3.4-2.8
							c0.8-0.6,1.6-1.1,2.4-1.7c1.3-0.8,2.6-1.5,3.9-2.1c0.8-0.4,1.7-0.8,2.6-1.2c1.6-0.6,3.1-1.1,4.8-1.5c0.8-0.2,1.6-0.5,2.4-0.6
							c5.1-1.1,10.4-1.1,15.6-0.1c0.8,0.2,1.6,0.5,2.4,0.8c1.7,0.4,3.4,1,5,1.6c0.9,0.4,1.6,0.9,2.5,1.3c1.5,0.7,2.9,1.5,4.3,2.3
							c0.8,0.6,1.5,1.3,2.3,1.9c1.3,0.9,2.4,1.9,3.6,3c0.8,0.8,1.4,1.6,2,2.5c1,1.1,2,2.2,2.8,3.4c0.6,0.9,1.1,2,1.6,3
							c0.8,1.2,1.5,2.5,2.1,3.8c0.5,1.1,0.7,2.2,1.1,3.4c0.5,1.3,0.9,2.7,1.3,4.1c0.3,1.2,0.3,2.4,0.4,3.6c0.2,1.5,0.4,3,0.4,4.4
							c0,0.3-0.1,0.6-0.1,0.9c0,7.4-2.2,14.5-6.2,20.7c-2.4,3.7-1.3,8.7,2.5,11.1c3.7,2.4,8.7,1.3,11.1-2.5c4.2-6.7,7-14.2,8.1-22
							c0.2,0,0.4-0.1,0.7-0.1c13.8,0,26.6,7.1,33.9,18.8s8.1,26.3,2,38.7c-0.7-0.2-1.5-0.4-2.2-0.6c-3.2-0.7-6.4-1-9.7-1
							c-15.1-0.1-29.4,7.1-38.4,19.3c-2.6,3.5-1.9,8.5,1.6,11.2s8.6,1.9,11.2-1.6c6-8.1,15.5-12.9,25.6-12.8c2.2,0,4.4,0.2,6.6,0.7
							c2.1,0.4,4.1,1.1,6,2c2.4,1,4.6,2.2,6.6,3.8C459.2,324.5,464,333.9,464,344z M432,184.6v44.8c-0.3-0.2-0.7-0.3-1.1-0.4
							c-1.3-0.6-2.6-1.1-4-1.6c-0.7-0.3-1.4-0.5-2.1-0.7c-1.1-0.4-2.2-0.7-3.3-0.9c-0.8-0.2-1.7-0.4-2.6-0.6c-1-0.2-2-0.3-3-0.5
							s-1.8-0.3-2.8-0.4c-1.7-0.2-3.5-0.3-5.2-0.3h-0.2c-0.1,0-0.2,0-0.4,0c-0.1-0.6-0.2-1.2-0.3-1.8c-0.1-0.8-0.3-1.5-0.4-2.3
							c-0.2-1-0.5-2-0.8-3c-0.2-0.7-0.4-1.4-0.6-2.1c-0.3-1-0.7-2-1.1-3c-0.3-0.6-0.5-1.3-0.7-1.9c-0.5-1.2-1.1-2.3-1.6-3.4
							c-0.2-0.4-0.4-0.9-0.6-1.3c-0.8-1.5-1.7-3-2.7-4.4c-0.2-0.3-0.4-0.6-0.6-0.8c-0.8-1.1-1.6-2.2-2.5-3.3c-0.4-0.5-0.8-0.9-1.2-1.4
							c-0.7-0.8-1.5-1.7-2.2-2.5c-0.5-0.5-1-0.9-1.5-1.4c-0.8-0.7-1.5-1.4-2.3-2.1c-0.5-0.5-1.1-0.9-1.7-1.3c-0.8-0.6-1.6-1.2-2.4-1.8
							c-0.6-0.4-1.2-0.8-1.8-1.2c-0.8-0.5-1.7-1.1-2.5-1.6c-0.6-0.4-1.3-0.7-2-1.1c-0.9-0.5-1.8-0.9-2.7-1.3c-0.7-0.3-1.4-0.6-2-0.9
							c-1-0.4-1.9-0.7-2.9-1.1c-0.7-0.2-1.4-0.5-2.1-0.7c-1-0.3-2.1-0.6-3.1-0.8c-0.7-0.2-1.4-0.3-2-0.5c-1.2-0.2-2.4-0.4-3.6-0.6
							c-0.6-0.1-1.2-0.2-1.8-0.2c-1.8-0.2-3.6-0.3-5.5-0.3s-3.7,0.1-5.6,0.3c-0.6,0.1-1.2,0.2-1.8,0.3c-1.2,0.2-2.4,0.3-3.6,0.6
							c-0.7,0.1-1.4,0.3-2.1,0.5c-1.1,0.3-2.1,0.5-3.2,0.8c-0.7,0.2-1.4,0.5-2.1,0.7c-1,0.3-2,0.7-2.9,1.1c-0.7,0.3-1.4,0.6-2.1,0.9
							c-0.9,0.4-1.8,0.8-2.7,1.3c-0.7,0.4-1.4,0.8-2,1.2c-0.9,0.5-1.7,1-2.5,1.5c-0.7,0.4-1.3,0.9-1.9,1.3c-0.8,0.6-1.6,1.1-2.3,1.7
							c-0.6,0.5-1.2,1-1.8,1.5c-0.7,0.6-1.4,1.3-2.1,1.9c-0.6,0.5-1.1,1.1-1.7,1.7c-0.7,0.7-1.3,1.4-1.9,2.1c-0.5,0.6-1,1.2-1.5,1.8
							c-0.6,0.8-1.2,1.5-1.7,2.3c-0.5,0.6-0.9,1.3-1.4,1.9c-0.5,0.8-1,1.6-1.5,2.5c-0.4,0.7-0.8,1.4-1.2,2.1c-0.4,0.9-0.9,1.7-1.3,2.6
							c-0.3,0.7-0.7,1.4-1,2.2c-0.4,0.9-0.7,1.8-1,2.8c-0.3,0.8-0.6,1.5-0.8,2.3c-0.3,1-0.5,2-0.8,2.9c-0.2,0.8-0.4,1.5-0.6,2.3
							c-0.2,1-0.3,2.1-0.5,3.2c-0.1,0.7-0.2,1.5-0.3,2.2v0.1c-0.3,0.1-0.6,0.3-1,0.4c-1,0.4-2,0.9-3,1.3c-1.4,0.6-2.8,1.3-4.1,2
							c-1,0.6-1.9,1.2-2.8,1.8c-1.3,0.8-2.5,1.7-3.6,2.6c-0.9,0.7-1.7,1.4-2.5,2.2c-1.1,1-2.1,2.1-3.1,3.2c-0.7,0.8-1.4,1.6-2.1,2.5
							c-0.9,1.2-1.8,2.5-2.6,3.7c-0.6,0.9-1.2,1.8-1.7,2.7c-0.7,1.4-1.4,2.8-2,4.3c-0.4,0.9-0.8,1.9-1.2,2.8c-0.6,1.7-1,3.4-1.4,5.1
							c-0.2,0.9-0.5,1.7-0.6,2.5c-0.9,5.1-0.9,10.3-0.1,15.4v0.3c-1.2,0.9-2.4,1.8-3.5,2.8c-0.1,0.1-0.2,0.2-0.3,0.3
							c-1.2,1.1-2.4,2.3-3.4,3.6c-0.4,0.4-0.7,0.9-1,1.4c-0.7,0.9-1.4,1.8-2,2.8c-0.4,0.6-0.7,1.1-1,1.7c-0.5,0.9-1,1.8-1.5,2.8
							c-0.3,0.6-0.6,1.2-0.8,1.9c-0.4,1-0.8,2-1.1,3c-0.2,0.6-0.4,1.2-0.6,1.9c-0.3,1.1-0.5,2.3-0.7,3.4c-0.1,0.6-0.2,1.1-0.3,1.7
							c-0.5,3.8-0.5,7.6,0.1,11.3c0.1,0.6,0.2,1.1,0.3,1.7c0.3,1.5,0.7,3,1.2,4.5c0.1,0.3,0.2,0.7,0.3,1c-0.2,0.2-0.3,0.4-0.4,0.5
							c-1.5,1.6-2.8,3.4-3.9,5.2c-0.1,0.1-0.1,0.2-0.1,0.3c-1.1,1.8-2,3.7-2.8,5.6c-0.2,0.4-0.3,0.7-0.4,1.1c-0.7,2-1.3,4-1.7,6.1
							c-0.1,0.4-0.1,0.8-0.2,1.2c-0.4,2.2-0.5,4.5-0.5,6.7c0,22.1,17.9,40,40,40h56v72H208V248c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v216
							H48V184.6L240,65.4L432,184.6z"/>
						<path d="M240,200c26.5,0,48-21.5,48-48c0-26.5-21.5-48-48-48c-26.5,0-48,21.5-48,48C192,178.5,213.5,200,240,200z M209.1,160H232
							v22.9C220.8,179.9,212.1,171.2,209.1,160z M248,182.9V160h22.9C267.9,171.2,259.2,179.9,248,182.9z M270.9,144H248v-22.9
							C259.2,124.1,267.9,132.8,270.9,144z M232,121.1V144h-22.9C212.1,132.8,220.8,124.1,232,121.1z"/>
					</svg>
					<h3 class="orange-line">Недвижимость</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
				</li>
				<li>
					<svg fill="#ff6200" class="cases-img" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
						<path d="M467.8,206.8c2.5,1.5,5.6,1.6,8.1,0.2c2.5-1.4,4.1-4.1,4.1-7v-48c0-2.8-1.4-5.3-3.8-6.8l-232-144c-2.6-1.6-5.8-1.6-8.4,0
							L128,68.1V48c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v49.9L3.8,145.2c-2.4,1.5-3.8,4-3.8,6.8v48c0,2.9,1.6,5.6,4.1,7
							c2.5,1.4,5.6,1.3,8.1-0.2L32,194.5V472c0,4.4,3.6,8,8,8h400c4.4,0,8-3.6,8-8v-82.9c16.7-5.9,28.8-20.5,31.4-37.9
							c2.7-17.5-4.5-35-18.6-45.6c-0.8-0.6-1.5-1-2.3-1.5c10.2-21.2,5.9-46.4-10.5-63.1v-46.5L467.8,206.8z M96,56h16v22L96,88V56z
							M16,156.5l224-139l224,139v29.2L244.2,49.2c-2.6-1.6-5.8-1.6-8.4,0L16,185.6V156.5z M96,464V256h96v208H96z M352,464V352h16v112
							H352z M432,464h-48v-72h48V464z M464,344c0,15.2-10.8,28.4-25.7,31.4c-2.1,0.4-4.2,0.6-6.3,0.6h-48v-32c0-4.4-3.6-8-8-8h-32
							c-4.4,0-8,3.6-8,8v32h-56c-13.3,0-24-10.7-24-24c0-4.3,1.2-8.4,3.4-12.1c7.5,7.7,17.8,12.1,28.6,12.1c1,0,2-0.1,2.9-0.3
							c4.2-1,6.8-5.1,6-9.3c-0.8-4.2-4.8-7-9-6.4c-13.2,0-23.9-10.8-23.9-24c0-1.1,0.1-2.3,0.2-3.4c1.1-7.8,6-14.6,13.1-18.1
							c1.7-0.9,3.5-1.5,5.4-1.9h0.1c5.7-1.3,11.6-0.4,16.7,2.4c3.9,2.2,8.7,0.8,10.9-3.1c2.2-3.9,0.8-8.7-3.1-10.9
							c-5.8-3.2-12.2-4.8-18.8-4.9c-0.2,0-0.4-0.1-0.6-0.1c-0.8,0-1.5,0.2-2.2,0.2c-1.4,0.1-2.7,0.2-4,0.4c-0.6,0.1-1.1,0.1-1.7,0.2
							c0-0.3-0.1-0.5-0.1-0.8c0-15.2,10.8-28.4,25.7-31.4c2.1-0.4,4.1-0.7,6.2-0.6c6.8,0,13.5,2.2,18.9,6.2c3.6,2.6,8.6,1.9,11.2-1.7
							s1.9-8.6-1.7-11.2c-8-5.9-17.6-9.1-27.5-9.2h-0.1c0-0.2,0.1-0.4,0.2-0.6c0.5-2.2,1.2-4.3,2-6.4c0.3-0.8,0.8-1.5,1.1-2.2
							c0.7-1.5,1.4-2.9,2.3-4.2c0.5-0.8,1.1-1.5,1.7-2.3c0.9-1.2,1.8-2.3,2.8-3.4c0.7-0.7,1.4-1.4,2.1-2c1.1-1,2.2-1.9,3.4-2.8
							c0.8-0.6,1.6-1.1,2.4-1.7c1.3-0.8,2.6-1.5,3.9-2.1c0.8-0.4,1.7-0.8,2.6-1.2c1.6-0.6,3.1-1.1,4.8-1.5c0.8-0.2,1.6-0.5,2.4-0.6
							c5.1-1.1,10.4-1.1,15.6-0.1c0.8,0.2,1.6,0.5,2.4,0.8c1.7,0.4,3.4,1,5,1.6c0.9,0.4,1.6,0.9,2.5,1.3c1.5,0.7,2.9,1.5,4.3,2.3
							c0.8,0.6,1.5,1.3,2.3,1.9c1.3,0.9,2.4,1.9,3.6,3c0.8,0.8,1.4,1.6,2,2.5c1,1.1,2,2.2,2.8,3.4c0.6,0.9,1.1,2,1.6,3
							c0.8,1.2,1.5,2.5,2.1,3.8c0.5,1.1,0.7,2.2,1.1,3.4c0.5,1.3,0.9,2.7,1.3,4.1c0.3,1.2,0.3,2.4,0.4,3.6c0.2,1.5,0.4,3,0.4,4.4
							c0,0.3-0.1,0.6-0.1,0.9c0,7.4-2.2,14.5-6.2,20.7c-2.4,3.7-1.3,8.7,2.5,11.1c3.7,2.4,8.7,1.3,11.1-2.5c4.2-6.7,7-14.2,8.1-22
							c0.2,0,0.4-0.1,0.7-0.1c13.8,0,26.6,7.1,33.9,18.8s8.1,26.3,2,38.7c-0.7-0.2-1.5-0.4-2.2-0.6c-3.2-0.7-6.4-1-9.7-1
							c-15.1-0.1-29.4,7.1-38.4,19.3c-2.6,3.5-1.9,8.5,1.6,11.2s8.6,1.9,11.2-1.6c6-8.1,15.5-12.9,25.6-12.8c2.2,0,4.4,0.2,6.6,0.7
							c2.1,0.4,4.1,1.1,6,2c2.4,1,4.6,2.2,6.6,3.8C459.2,324.5,464,333.9,464,344z M432,184.6v44.8c-0.3-0.2-0.7-0.3-1.1-0.4
							c-1.3-0.6-2.6-1.1-4-1.6c-0.7-0.3-1.4-0.5-2.1-0.7c-1.1-0.4-2.2-0.7-3.3-0.9c-0.8-0.2-1.7-0.4-2.6-0.6c-1-0.2-2-0.3-3-0.5
							s-1.8-0.3-2.8-0.4c-1.7-0.2-3.5-0.3-5.2-0.3h-0.2c-0.1,0-0.2,0-0.4,0c-0.1-0.6-0.2-1.2-0.3-1.8c-0.1-0.8-0.3-1.5-0.4-2.3
							c-0.2-1-0.5-2-0.8-3c-0.2-0.7-0.4-1.4-0.6-2.1c-0.3-1-0.7-2-1.1-3c-0.3-0.6-0.5-1.3-0.7-1.9c-0.5-1.2-1.1-2.3-1.6-3.4
							c-0.2-0.4-0.4-0.9-0.6-1.3c-0.8-1.5-1.7-3-2.7-4.4c-0.2-0.3-0.4-0.6-0.6-0.8c-0.8-1.1-1.6-2.2-2.5-3.3c-0.4-0.5-0.8-0.9-1.2-1.4
							c-0.7-0.8-1.5-1.7-2.2-2.5c-0.5-0.5-1-0.9-1.5-1.4c-0.8-0.7-1.5-1.4-2.3-2.1c-0.5-0.5-1.1-0.9-1.7-1.3c-0.8-0.6-1.6-1.2-2.4-1.8
							c-0.6-0.4-1.2-0.8-1.8-1.2c-0.8-0.5-1.7-1.1-2.5-1.6c-0.6-0.4-1.3-0.7-2-1.1c-0.9-0.5-1.8-0.9-2.7-1.3c-0.7-0.3-1.4-0.6-2-0.9
							c-1-0.4-1.9-0.7-2.9-1.1c-0.7-0.2-1.4-0.5-2.1-0.7c-1-0.3-2.1-0.6-3.1-0.8c-0.7-0.2-1.4-0.3-2-0.5c-1.2-0.2-2.4-0.4-3.6-0.6
							c-0.6-0.1-1.2-0.2-1.8-0.2c-1.8-0.2-3.6-0.3-5.5-0.3s-3.7,0.1-5.6,0.3c-0.6,0.1-1.2,0.2-1.8,0.3c-1.2,0.2-2.4,0.3-3.6,0.6
							c-0.7,0.1-1.4,0.3-2.1,0.5c-1.1,0.3-2.1,0.5-3.2,0.8c-0.7,0.2-1.4,0.5-2.1,0.7c-1,0.3-2,0.7-2.9,1.1c-0.7,0.3-1.4,0.6-2.1,0.9
							c-0.9,0.4-1.8,0.8-2.7,1.3c-0.7,0.4-1.4,0.8-2,1.2c-0.9,0.5-1.7,1-2.5,1.5c-0.7,0.4-1.3,0.9-1.9,1.3c-0.8,0.6-1.6,1.1-2.3,1.7
							c-0.6,0.5-1.2,1-1.8,1.5c-0.7,0.6-1.4,1.3-2.1,1.9c-0.6,0.5-1.1,1.1-1.7,1.7c-0.7,0.7-1.3,1.4-1.9,2.1c-0.5,0.6-1,1.2-1.5,1.8
							c-0.6,0.8-1.2,1.5-1.7,2.3c-0.5,0.6-0.9,1.3-1.4,1.9c-0.5,0.8-1,1.6-1.5,2.5c-0.4,0.7-0.8,1.4-1.2,2.1c-0.4,0.9-0.9,1.7-1.3,2.6
							c-0.3,0.7-0.7,1.4-1,2.2c-0.4,0.9-0.7,1.8-1,2.8c-0.3,0.8-0.6,1.5-0.8,2.3c-0.3,1-0.5,2-0.8,2.9c-0.2,0.8-0.4,1.5-0.6,2.3
							c-0.2,1-0.3,2.1-0.5,3.2c-0.1,0.7-0.2,1.5-0.3,2.2v0.1c-0.3,0.1-0.6,0.3-1,0.4c-1,0.4-2,0.9-3,1.3c-1.4,0.6-2.8,1.3-4.1,2
							c-1,0.6-1.9,1.2-2.8,1.8c-1.3,0.8-2.5,1.7-3.6,2.6c-0.9,0.7-1.7,1.4-2.5,2.2c-1.1,1-2.1,2.1-3.1,3.2c-0.7,0.8-1.4,1.6-2.1,2.5
							c-0.9,1.2-1.8,2.5-2.6,3.7c-0.6,0.9-1.2,1.8-1.7,2.7c-0.7,1.4-1.4,2.8-2,4.3c-0.4,0.9-0.8,1.9-1.2,2.8c-0.6,1.7-1,3.4-1.4,5.1
							c-0.2,0.9-0.5,1.7-0.6,2.5c-0.9,5.1-0.9,10.3-0.1,15.4v0.3c-1.2,0.9-2.4,1.8-3.5,2.8c-0.1,0.1-0.2,0.2-0.3,0.3
							c-1.2,1.1-2.4,2.3-3.4,3.6c-0.4,0.4-0.7,0.9-1,1.4c-0.7,0.9-1.4,1.8-2,2.8c-0.4,0.6-0.7,1.1-1,1.7c-0.5,0.9-1,1.8-1.5,2.8
							c-0.3,0.6-0.6,1.2-0.8,1.9c-0.4,1-0.8,2-1.1,3c-0.2,0.6-0.4,1.2-0.6,1.9c-0.3,1.1-0.5,2.3-0.7,3.4c-0.1,0.6-0.2,1.1-0.3,1.7
							c-0.5,3.8-0.5,7.6,0.1,11.3c0.1,0.6,0.2,1.1,0.3,1.7c0.3,1.5,0.7,3,1.2,4.5c0.1,0.3,0.2,0.7,0.3,1c-0.2,0.2-0.3,0.4-0.4,0.5
							c-1.5,1.6-2.8,3.4-3.9,5.2c-0.1,0.1-0.1,0.2-0.1,0.3c-1.1,1.8-2,3.7-2.8,5.6c-0.2,0.4-0.3,0.7-0.4,1.1c-0.7,2-1.3,4-1.7,6.1
							c-0.1,0.4-0.1,0.8-0.2,1.2c-0.4,2.2-0.5,4.5-0.5,6.7c0,22.1,17.9,40,40,40h56v72H208V248c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8v216
							H48V184.6L240,65.4L432,184.6z"/>
						<path d="M240,200c26.5,0,48-21.5,48-48c0-26.5-21.5-48-48-48c-26.5,0-48,21.5-48,48C192,178.5,213.5,200,240,200z M209.1,160H232
							v22.9C220.8,179.9,212.1,171.2,209.1,160z M248,182.9V160h22.9C267.9,171.2,259.2,179.9,248,182.9z M270.9,144H248v-22.9
							C259.2,124.1,267.9,132.8,270.9,144z M232,121.1V144h-22.9C212.1,132.8,220.8,124.1,232,121.1z"/>
					</svg>
					<h3 class="orange-line">Недвижимость</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="content-section scheme-section">
		<div class="container">
			<div class="scheme-line first-line"></div>
			<div class="scheme-line second-line"></div>

			<div class="scheme-square square-0"></div>
			<div class="scheme-square square-1">
				1
				<div class="square-text square-text-1">
					<h4>Согласие инвестировать</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
				</div>
			</div>
			<div class="scheme-square square-2">
				2
				<div class="square-text square-text-2">
					<h4>Перевод денежных средств</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
				</div>
			</div>
			<div class="scheme-square square-3">
				3
				<div class="square-text square-text-3">
					<h4>Снятие наличных</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
				</div>
			</div>
		</div>
	</section>

	<section class="content-section invest-bottom-section">
		<div class="container">
			<div class="investment-window">
				<p class="investment-amount" id="investment-amount">100 000</p>
				<p class="amount-description">Сумма инвестиции</p>

				<div class="tabs investment-tabs" id="investment-tabs">
					<input class="jcf-off" id="investment-tab1" type="radio" name="investment-tabs" value="100000">
					<label for="investment-tab1">100 000</label>
					<input class="jcf-off" id="investment-tab2" type="radio" name="investment-tabs" value="500000" checked>
					<label for="investment-tab2">500 000</label>
					<input class="jcf-off" id="investment-tab3" type="radio" name="investment-tabs" value="1000000">
					<label for="investment-tab3">1 000 000</label>
					<input class="jcf-off" id="investment-tab4" type="radio" name="investment-tabs" value="1500000">
					<label for="investment-tab4">1 500 000</label>
				</div>

				<div class="month">
					<span class="month-text">на срок </span>
					<div class="tabs month-tabs">
						<input class="jcf-off" id="month-tab1" type="radio" name="month-tabs" checked>
						<label for="month-tab1">6</label>
						<input class="jcf-off" id="month-tab2" type="radio" name="month-tabs">
						<label for="month-tab2">12</label>
						<input class="jcf-off" id="month-tab3" type="radio" name="month-tabs">
						<label for="month-tab3">18</label>
						<input class="jcf-off" id="month-tab4" type="radio" name="month-tabs">
						<label for="month-tab4">24</label>
						<input class="jcf-off" id="month-tab5" type="radio" name="month-tabs">
						<label for="month-tab5">36</label>
					</div>
					<span class="month-text"> месяцев</span>
				</div>

				<div class="investment-window-result">
					<p class="investment-window-rate">22%</p>
					<p class="investment-window-income" id="investment-window-income">12 000</p>
					<p class="result-description">Процентная ставка:</p>
					<p class="result-description">Ваш доход:</p>
				</div>

				<div class="investment-window-button">
					<button class="button" type="submit">Связаться со мной</button>
					<button id="count" class="button" type="submit">Посчитать</button>
				</div>
			</div>
		</div>
	</section>

	<section class="content-section form-section">
		<div class="container">
			<h2>Будь на связи с нами</h2>
			<form class="form" name="form" method="post" action="/contact-form-submission" novalidate="novalidate">
				<div class="form-row">
					<div class="label-block">
						<label for="form_name" class="required">
							Ваше имя
						</label>
					</div>
					<input type="text" id="form_name" name="form[name]" required="required">
				</div>
				<div class="form-row">
					<div class="label-block">
						<label for="form_phone" class="required">
							Email
						</label>
					</div>
					<input type="email" id="form_email" name="form[email]" required="required" placeholder="+38 (___) ___-__-__" data-mask="+38 (099) 999-99-99" autocomplete="off">
				</div>
				<div class="form-row">
					<div class="label-block">
						<label for="form_phone" class="required">
							Телефон
						</label>
					</div>
					<input type="tel" id="form_phone" name="form[phone]" required="required" placeholder="+38 (___) ___-__-__" data-mask="+38 (099) 999-99-99" autocomplete="off" maxlength="19">
				</div>
				<div class="button-block">
					<p>
						<span class="req">*</span>
						Обязательное поле
					</p>
					<button class="button" type="submit">Связаться со мной</button>
				</div>
			</form>
			<div class="form-tel">
				<p>Или позвони нам и получи скидку</p>
				<a href="tel:+38054453452453">+38(054)453452453</a>
			</div>
		</div>
	</section>
</div>

{% endblock %}
