{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Экспресс займ'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Сегодня не самые простые времена в стране, поэтому населению часто приходится брать микрокредиты.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Экспресс </b>займ'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Сегодня не самые простые времена в стране, поэтому населению часто приходится брать микрокредиты. Причины могут быть самые разные, но с каждым годом рассматривается тенденция роста и развития кредитного рынка в стране. Причем стоит понимать, что любой кредит это ответственность, которую Вы берете на себя.</p>
				</div>
				<div class="block">
					<h2>Причины поиска альтернативы банковскому кредитованию</h2>
					<p>Банковское кредитование связано с оформлением большого количества документов. Также требуется ждать большое количество времени, пока все формальности будут соблюдены, а документы проверены.</p>
					<p> Очень актуальным вопросом на сегодняшний день является тот факт, что простые граждане очень редко обращаются за помощью к банковским учреждениям, все чаще прибегая к услугам микрокредитных компаний. Иногда подобные структуры бывают крайне полезны, так как они без лишней волокиты предоставляют <b>экспресс займ</b> клиентам.</p>
					<p>Если у заявителя хорошая кредитная история, то действительно скорость одобрения заявки и предоставления кредита значительно выше. Бывает так, что деньги нужны срочно, так как не хватает некоторой суммы на новый смартфон или потрачена вся зарплата, а новая будет только дней через десять. Понятно, что идти в банк за такими деньгами бессмысленно. Микрофинансовые организации выручают при подобных обстоятельствах.</p>
					<p>Самая лучшая компания в этой отрасли CashYou. С этой организацией решить проблемы намного проще ведь услуга <b>экспресс займ</b> - это гарантированная помощь всем, кто в этом нуждается.</p>
				</div>
				<div class="block">
					<h2>Насколько быстро это делается</h2>
					<p>Для того чтобы оформить кредит в микрофинансовых организациях, не нужно много сил и времени. Всего лишь несколько минут и свободный доступ в интернет. Максимально выгодные ставки, процентные платежи и условия могут предложить такие лидирующие организации как CashYou. Онлайн система для предоставления кредитных услуг работает как один слаженный механизм.</p>
					<p>На сайте компании нужно заполнить все поля с информацией о клиенте. Проверяя документы, не потребуют справки о доходах, документов об официальной заработной плате, справку о трудоустройстве.</p>
					<p>Главное правило - <b>экспресс займа</b> – скорость и надежность. Такой вид кредита может получить любой желающий. Если Вы:</p>
					<ul>
						<li>совершеннолетний человек;</li>
						<li>предоставите свой паспорт и индикационный код;</li>
					</ul>
					<p>Необходимо всего лишь отправить заявку, указав там электронный адрес и номер мобильного телефона. После одобрения Вашей заявки деньги придут на указанную банковскую карту. Если Вы зарекомендуете себя как честный клиент, также будет возможность:</p>
					<ul>
						<li>увеличивать доступную сумму после оплаты предыдущего долга;</li>
						<li>совершать пролонгацию;</li>
						<li>пользоваться предложениями от сети магазинов партнеров;</li>
						<li>выплачивать кредит с минимальными процентными ставками.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Кто может быть клиентом и получить экспресс займ?</h2>
					<p>Воспользоваться услугой могут пенсионеры, студенты, домохозяйки, представители малого бизнеса, все кто имеет возможность вернуть деньги точно в сроки. Главными условиями кроме исполнения 18 летнего возраста еще является наличие карты одного из банков Украины, ИНН и наличие паспорта.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
