{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит по двум документам'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'В последнее время условия по выдаче кредитов стали намного жестче.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' Кредит <b>по двум документам</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>В последнее время условия по выдаче кредитов стали намного жестче. Банки требуют огромный перечень документов, при этом часто отказывают в кредите. Но, несмотря на это <b>кредит по двум документам</b> оформить вполне возможно, и сделать это не так сложно как кажется на первый взгляд. Но в таком случае процентная ставка будет довольно-таки высокая. </p>
				</div>
				<div class="block">
					<h2>Реально ли оформить кредит по двум документам?</h2>
					<p><b>Кредит по двум документам </b>– это не сказка, а реальность. Компания CashYou с радостью придет на помощь всем своим клиентам и не оставит их в беде. Если необходимо получить деньги максимально быстро, то учтите, что Вас ожидает ограниченный лимит по сумме, маленький срок кредитования и хорошая кредитная история.</p>
					<p>Часто так бывает, что деньги нужны не «через неделю», а – завтра утром. Чем менее срочное заимствование, тем меньше оно будет стоить. Если помнить об этом правиле, то можно грамотно рассчитать условия займа.</p>
					<p>Срочный кредит является выгодным на недолгий срок, поэтому обязательно следует соизмерять желания, возможности и временные рамки.</p>
					<p>Кредит по двум документам может быть оформлен в случае, если клиент предоставляет:</p>
					<ul>
						<li>паспорт;</li>
						<li>ИНН</li>
					</ul>
					<p>Желательно иметь на руках еще какие-либо документы, по принципу: «чем больше – тем лучше». В такой ситуации кредитору будет проще оценить кредитоспособность клиента, соответственно, и процент будет меньше. Требования к такому заемщику также будут менее строгие. </p>
					<p>Оформление кредита по двум документам занимает минимум времени. Если будет присутствовать положительная кредитная история, то вся операция произойдет в разы быстрее. </p>
				</div>
				<div class="block">
					<h2>Преимущества быстрого кредитования</h2>
					<p>Микрофинансовая организация CashYou предлагает своим клиентам кредитование на выгодных условиях. Такие срочные кредиты обладают рядом преимуществ:</p>
					<ul>
						<li>предоставление кредита выполняется на выгодных для обеих сторон условиях;</li>
						<li>организация придет на помощь всем своим клиентам;</li>
						<li>кредит предоставляется всем желающим, кто достиг совершеннолетия.</li>
					</ul>
					<p>Обратите внимание, что такие микро финансовые организации, такие как CashYou, устанавливают ежедневную процентную ставку. Такой порядок вещей должен стимулировать человека на быстрый возврат средств.</p>
					<p> Клиенты, прежде чем брать в долг думают, в первую очередь как они будут отдавать деньги и сколько процентов придется платить. <br>Срочное кредитование хорошо тем, что выручает в безвыходной ситуации, когда деньги нужны немедленно, а состоятельных знакомых или родственников, готовых помочь в данной ситуации, нет.</p>
					<p>Рассчитать  стоимость кредита и процентов можно с помощью онлайн калькулятора. Это специальная программа, которая поможет клиентам самостоятельно узнавать общую стоимость кредита. <br> Перед тем как приступить к подписанию кредитного договора стоит тщательно изучить все его пункты либо же связывать с менеджерами, чтобы получить подтверждение полученных данных.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
