{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Кредитный </b>калькулятор?'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
				 <p>Задумываясь об оформлении кредита, многие хотят узнать всю информацию «здесь и сейчас». На сайте CashYou каждый клиент может найти интересующую его информацию. Достаточно зайти на этот интернет ресурс, чтобы через несколько минут иметь правильное представление о его работе.</p>
				 <p>Рассчитать полную стоимость, включая процентные ставки, позволит <b>кредитный калькулятор</b>. Он доступен на сайте любой микрофинансовой организации.</p>
				</div>
				<div class="block">
					<h2>Что такое кредитный калькулятор?</h2>
					<p>Данная программа позволит клиентам рассчитать кредит и процентную ставку максимально быстро, и, главное, не выходя из дома. С помощью кредитного калькулятора можно:</p>
					<ul>
						<li>рассчитать процентную ставку кредита;</li>
						<li>высчитать размер комиссии;</li>
						<li>определить основную сумму по займу.</li>
					</ul>
					<p>При помощи данной программы клиент сможет с легкостью узнать, какую сумму он будет отдавать на погашение самого кредита, а какая часть перейдет на гашение процентов.</p>
					<p>Функционал калькулятора устроен просто, с ним может разобраться даже школьник младших классов. <br>Данный инструмент может быть действительно очень полезен, потому что наглядно показывает все выходные данные.</p>
					<p>Меню кредитного калькулятора CashYou:</p>
					<ul>
						<li>основная сумма кредита;</li>
						<li>срок займа;</li>
						<li>процентная ставка.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Как работает кредитный калькулятор CashYou?</h2>
					<p>Основой калькулятора является алгоритм с простыми формулами. Указывается процентная ставка, которую предлагает компания и срок, на который выдаются деньги. Как правило, это цифры, которые компания предварительно объединила в рамках одной кредитной программы.  Прежде, чем подписывать кредитный договор, лучше еще раз уточнить все интересующие Вас нюансы у менеджера фирмы. Задать вопрос можно в любое время суток и мгновенно получить на него развернутый ответ.</p>
					<p>Кредитный калькулятор представляет собой полезный и надежный инструмент, с помощью которого Вы, не выходя из дома, сможете сравнить несколько видов кредитования, выбрать наиболее выгодный. Некоторые фирмы даже предлагают услугу сравнения кредитов. Что тоже иногда бывает очень полезно.</p>
					<p>Кредитование – это удобная услуга, с помощью которой клиент может получить финансовые средства. Дорогие покупки сделать с помощью подобного инструмента нельзя, но если деньги нужны срочно, «на пару недель», то такой способ займа является наиболее подходящим. Неоспоримым преимуществом является оперативность и выгодные условия сотрудничества.</p>
					<p>Рекомендуется внимательно читать договор, который можно найти на сайте.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
