{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Экспресс деньги'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'С развитием рынка в кредитно-финансовой сфере украинские банки стали более требовательными к своим клиентам.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Экспресс </b>деньги'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>С развитием рынка в кредитно-финансовой сфере украинские банки стали более требовательными к своим клиентам. За последние годы общее число банковских кредитований заметно снизился. Альтернативой банковским организациям превосходно служит система микрокредитования. Подобные компании готовы предоставить небольшие суммы денег на короткий срок.</p>
				</div>
				<div class="block">
					<h2>Насколько это выгодно</h2>
					<p><b>Экспресс деньги</b> - это быстрый надежный кредит, если подписан договор с профессиональной компанией CashYou. Она находиться на вершине в списках лидирующих организаций.</p>
					<p> Отличительной чертой CashYou является забота о своих клиентах.</p>
					<p>Микрокредитование весьма востребовано в кризисное время, так как подобные структуры существенно помогают гражданам решать финансовые вопросы.</p>
					<p>Преимущество также и в том, что такая услуга предоставляется быстро и не придется стоять в очереди в банке и решать формальности банковских учреждений. Иногда возникает вопрос: какую максимальную сумму готовы одолжить представители услуг <b>«Экспресс деньги»</b>.</p>
					<p>Сумму определяет система, но можно указать свои пожелания, рассчитать сумму платежей, определиться со сроками кредитования.</p>
					<p>Кто может воспользоваться быстрыми средствами:</p>
					<ul>
						<li>любая категория людей, независимо от доходов;</li>
						<li>все, кто достиг совершеннолетия;</li>
						<li>пенсионеры, домохозяйки, студенты и даже безработные;</li>
					</ul>
					<p>CashYou ценят каждого своего клиента, работают без скрытых комиссионных. Кроме того, для того чтобы получить <b>Экспресс Деньги</b>, больше не потребуется множество справок о доходах, поручительство, привлечение третьих лиц в качестве гарантов или доверенных лиц. Отпала потребность также и в залоге. Это очень удобно по сравнению с банковскими структурами, где всегда требуют огромное количество нужных и ненужных документов.</p>
				</div>
				<div class="block">
					<h2>Главные преимущества</h2>
					<p>Главным преимуществом CashYou является качественное обслуживание клиентов. Поэтому многие украинцы уже успели оценить все положительные качества такого сервиса. Для того чтобы оформить заявку на получение кредита Вам потребуется:</p>
					<ul>
						<li>Паспорт и код плательщика налогов;</li>
						<li>Указать в заявке номер телефона и адрес электронной почты для комфортного общения;</li>
						<li>Это займет не более 15 минут;</li>
						<li>Вы можете оформлять запрос на то чтобы взять экспресс деньги, не выходя из дома с мобильного телефона, ноутбука или специального приложения.</li>
					</ul>
					<p>Кроме того, все операции находятся под защитой, сохраняется конфиденциальность. При желании Вы также можете оставить свой отзыв об уровне работы компании и сотрудничестве с ней на официальном сайте. Перед началом работы Вы также можете ознакомиться со всеми условиями и рекомендациями. Если прочесть внимательно всю информацию, то снимается множество вопросов по теме кредитования. В таком случае человек сам сможет рассчитать свои возможности и определиться со сроками. Самое главное не затягивать с выплатами, потому что в противном случае процент по займу значительно вырастет. </p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
