{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Деньги в долг на карту'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Часто случаются ситуации, когда деньги нужны очень срочно, а времени, на то чтобы посещать учреждения банка и подбирать выгодные условия для сотрудничества, просто нет.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Деньги в долг на карту</b>'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Часто случаются ситуации, когда деньги нужны очень срочно, а времени, на то чтобы посещать учреждения банка и подбирать выгодные условия для сотрудничества, просто нет. В этом случае очень функциональным и удобным будет вариант быстрого онлайн кредита, который поможет решить проблемы в кратчайшие сроки.</p>
				</div>
				<div class="block">
					<h2>Как это работает?</h2>
					<p><b>Технологии не стоят на месте и сегодня интернет банкинг достаточно распространён, но для самого эффективного и максимально выгодного партнерства можно воспользоваться услугами компаний, которые предоставляют услуги по микрокредитованию. Такие организации как CashYou, готовы оказать финансовую поддержку практически моментально.</b></p>
					<p><b>Для того чтобы получить</b> деньги в долг на карту <b>нужно уделить немного времени и иметь свободный доступ к Интернету.</b></p>
					<p><b>Чтобы заполнить заявку в режиме онлайн Вам потребуется:</b></p>
					<ul>
						<li><b>Удостоверение личности (паспорт);</b></li>
						<li><b>Идентификационный код;</b></li>
						<li><b>Указать свой контактный номер мобильного телефона для связи или адрес электронной почты.</b></li>
					</ul>
					<p>Очень удобно можно рассчитать сроки и минимальные платежи с помощью программы-калькулятора. При желании можно снова оформить заявку, постепенно увеличивая кредитный лимит.  <b>Деньги в долг на карту</b> придут сразу же после одобрения Вашего запроса.</p>s
				</div>
				<div class="block">
					<h2>Преимущества данного сервиса</h2>
					<p>По сравнению с другими сервисами по кредитованию попросить <b>деньги в долг на карту</b> можно без документального подтверждения Вашей платежеспособности. Теперь получить кредит намного проще, Вам больше не нужно тратить время на то чтобы подобрать выгодные условия и тарифы.</p>
					<p>Удобно пользоваться таким сервисом еще и по той объективной причине, что агенты сервиса не требуют поручителей, залога недвижимости и гарантий возврата. Что показывает стопроцентное доверие со стороны компании.</p>
					<p>Решение об удовлетворении или отказе в займе придет Вам на указанную почту. Практически сразу после одобрения просьбы приходят <b>деньги в долг на карту</b>, которую Вы указывали ранее.</p>
				</div>
				<div class="block">
					<h2>Кто может стать клиентом данного сервиса?</h2>
					<p>Все люди, которые испытывают временные финансовые трудности и имеют документальное подтверждение своего совершеннолетия, могут воспользоваться услугой. К этой категории также относятся:</p>
					<ul>
						<li>Пенсионеры;</li>
						<li>Студенты;</li>
						<li>Безработные.</li>
					</ul>
					<p>Обычно такие кредиты выдают без целевого направления, но при этом чаще всего их берут для того чтобы оплатить:</p>
					<ul>
						<li>Медицинское обслуживание;</li>
						<li>Покупку и приобретение мелкой недорогостоящей бытовой техники;</li>
						<li>Оплата коммунальных счетов и подарков;</li>
						<li>Туристические поездки и путешествия.</li>
					</ul>
					<p>Теперь вся система автоматизирована, решения по поводу займа принимается с помощью программного обеспечения, что гарантирует абсолютную конфиденциальность и защиту от мошенников.</p>
					<p>Рекомендуется хорошо посчитать проценты на онлайн калькуляторе. После того как будет понятна приблизительная сумма выплат по процентам, лучше еще раз проверить все полученные выкладки у менеджера компании.</p>
					<p>Просрочки по выплатам самая распространенная «недоработка» среди клиентов, лучше все заранее предусмотреть, чтобы подобных вещей не происходило.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
