{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="container security-info">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{'<b>Безопасность</b> '|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<h2>Бонусы в системе CashYou</h2>
					<p>Бонусы в нашей системе, это условная единица, которую мы для себя приняли как : 1 грн = 50 бонусам. Бонусы могут быть начислены и списаны как автоматически так и в ручную. Ценность бонусов также может быть изменена мануально. Ручное начисление, это когда клиенту начисляет бонусы менеджер или ответственное лицо.</p>
					<h2>Начисление бонусов в системе CashYou</h2>
					<p>Автоматическое начисление бонусов происходит за:</p>
					<ul>
						<li>Заполнение самой первой заявки на кредит</li>
						<li>Погашение первой, и любой последующей заявки на кредит</li>
						<li>Размещение отзывов о нас в социальных сетях</li>
						<li>Реферальная программа(Бонусы за приглашенных друзей в систему и бонусы за погашение друзьями последующих кредитов )</li>
						<li>Загрузку ВСЕХ фото на странице “Мои фото” или в соответствующем разделе при регистрации</li>
						<li>Возможные акционные предложения</li>
					</ul>
					<h2>Списание бонусов в системе CashYou</h2>
					<p>Под автоматическим списанием мы понимаем списание бонусов клиентом без участия менеджера.</p>
					<p>Автоматическое списание происходит в случае:</p>
					<ul>
						<li>Погашения клиентом кредитной задолженности (Если он выберет “Потратить бонусы” на странице оплаты). В релизной версии человек сможет потратить только все имеющиеся у него бонусы (Не сможет выбрать, сколько конкретно он потратит, только все).</li>
						<li>Прокачка своего кредитного профиля (Увеличение суммы, уменьшение процента, увеличение длительности срока)</li>
						<li>Оплаты процентов по Лонгации</li>
						<li>В случае просрочки задолженности бонусы будут списываться в нужном объеме автоматически</li>
					</ul>
					<h2>Прокачка кредитного профиля</h2>
					<p>Прокачка кредитного профиля происходит посредствам траты бонусов на определенные “Шаги” в бонусных линейках. Всего этих линеек 3:</p>
					<ul>
						<li>Увеличение максимальной суммы займа</li>
						<li>Уменьшение процентной ставки по кредиту</li>
						<li>Увеличение срока пользования кредитом</li>
					</ul>
					<p>Шагов у каждой линейки 5. После того, как клиент зарегистрировался в системе, у него все линейки пустые, и он сам решает, какие шаги ему “покупать”. Каждый шаг стоит бонусов (Чем дальше шаг, тем дороже он стоит). Стоимость шагов у разных линеек может быть разной. Невозможно пропустить шаг (Сначала купить 1-й а потом купить 3-й, необходимо купить и 1-й и 2-ой шаги, чтобы купить 3). Откат шага на стороне клиента не предусмотрен.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
