{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Срочно нужны деньги'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Бывают нередко такие обстоятельства, когда срочно нужны деньги.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Срочно </b>нужны деньги'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>Бывают нередко такие обстоятельства, когда <b>срочно нужны деньги</b>. Лучший вариант в этом случае обратиться в солидную компанию, которая уверенно ведет бизнес по микрокредитованию, добиваясь все более заметных результатов.</p>
				</div>
				<div class="block">
					<h2>Почему лучше обратиться в CashYou?</h2>
					<p>Компания CashYou лидирует на рынке краткосрочных займов. В случае, когда выплаты хронически задерживаются, это влияет на кредитную историю. Факт обращения в кредитную фирму налагает определенную долю ответственности на заемщика. В компании CashYou выгодные процентные ставки. Это легко проверит, обратившись к поисковой системе Google.</p>
					<p>Данная финансовая структура заслужила прекрасную репутацию. Уровень профессионализма и безупречность сервиса вызывает уважение, как в среде финансистов, так и среди широких слоев населения.</p>
				</div>
				<div class="block">
					<h2>Оформление займа, когда срочно нужны деньги.</h2>
					<p>Оформить кредит онлайн, когда срочно нужны деньги, не представляет большой сложности. Следует зайти на сайт компании и оформить заявку на получение денежных средств. Можно это сделать в любое время дня и ночи. Ездить никуда не нужно, достаточно иметь интернет, паспорт, ИНН и мобильный телефон.</p>
					<p>CashYou является лидером по оперативности связи и выдаче финансовых ресурсов. <br>При первом обращении необходимо обязательно представить свой ИНН. Заполнять заявку потребуется всего один раз. Если клиент вовремя будет возвращать деньги, то повторный заем будет оформляться в разы быстрее.</p>
				</div>
				<div class="block">
					<h2>Требования к клиенту, которому срочно нужны деньги.</h2>
					<p>Требования к заемщику, которому <b>срочно нужны деньги</b>, выдвигаются самые минимальные. Скорость выдачи заемных средств возросла многократно.</p>
					<p> Усовершенствовав логистические процессы, компания увеличила этот показатель почти в пять раз. В бизнесе микрокредитования, который представляет CashYou, царит настоящая демократия.</p>
					<p>Кредит могут получить:</p>
					<ul>
						<li> пенсионеры;</li>
						<li>безработные;</li>
						<li>студенты;</li>
						<li>матери одиночки.</li>
					</ul>
					<p>То есть те граждане, которые раньше были далеки от мысли: взять деньги под проценты в финансовом учреждении. В среднем заемные средства берут до 15 тысяч гривен от одного дня до одного месяца. Постоянно в компании практикуются бонусы и скидки. Фирма регулярно совершенствуют логистические схемы. Для надежных клиентов очень часто проводятся акции, в которых им причитаются приятные бонусы. Например, можно взять кредит всего под одну сотую процента в день, что является очень неплохим показателям для такого рода займов.</p>
					<p>Для постоянных пользователей, которым <b>срочно нужны деньги</b> в сервисе CashYou, предусмотрена специальная система накопительных бонусов аккумулирующих скидки.</p>
					<p>Функционал сервиса очень прост. Понять, как работает ресурс, может даже школьник младших классов, не посвященный в мир высоких технологий. На сайт есть калькулятор, который дает возможность быстро посчитать:</p>
					<ul>
						<li>когда необходимо погасить полученные денежные средства;</li>
						<li>сколько потребуется процентов переплаты.</li>
					</ul>
					<p>Вся связь осуществляется через личный кабинет за минимальные сроки.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
