{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Срочный займ на карту?'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'На сегодняшний день востребованными являются услуги микрофинансовых организаций, благодаря которым каждый желающий может оформить срочный займ на карту.'|trans }}">{% endblock %}

{% block mainContent %}
	<div class="container">
		<div class="terms-hodler">
			<div class="heading">
				<h1>{{' <b>Срочный </b>займ на карту?'|trans|raw }}</h1>
			</div>
			<div class="static-content">
				<div class="block">
					<p>На сегодняшний день востребованными являются услуги микрофинансовых организаций, благодаря которым каждый желающий может оформить <b>срочный займ на карту</b>. Самая лучшая из них - это CashYou. Спустя 15 минут после подачи заявки, деньги будут зачислены на банковскую карту.</p>
					<p>Главным преимуществом <b>срочного займа на карту</b> является то, что для оформления кредита можно не выходить из дома. Более того, подать заявку Вы можете в любое время суток, в выходные и праздничные дни.</p>
				</div>
				<div class="block">
					<h2>Как получить срочный займ на карту?</h2>
					<p>Микрокредиты в CashYou доступны всем желающим, кто достиг совершеннолетия, в том числе студенты, пенсионеры, трудоустроенные лица и безработные. Чтобы получить <b>срочный займ на карту</b>, необходимо соответствовать следующим требованиям:</p>
					<ul>
						<li>быть совершеннолетним;</li>
						<li>иметь украинское гражданство.</li>
					</ul>
					<p>Получить быстрый кредит в CashYou могут даже те, у кого плохая кредитная история. Конечно, для таких клиентов процент кредитования будет немного выше, а сумма займа меньше, но микрофинансовые компании не оставят своих клиентов в беде.</p>
					<p>Оформляя кредит в CashYou, обязательно вносите в анкету только достоверную информацию. Ни в коем случае не превышайте свой уровень дохода, ведь все данные будут тщательно проверяться компанией. В случае, если информация окажется ложной, компания может отказать в кредитовании, либо же потребовать погасить заем досрочно.</p>
				</div>
				<div class="block">
					<h2>Процентная ставка</h2>
					<p><b>Срочный займ на карту</b> предоставляют только микрофинансовые фирмы. Такие кредиты связаны с повышенными рисками для компании, поэтому и проценты соответствующие. Как правило, клиенты каждый день платят 1 – 2%. Удобнее всего оформлять кредит на карточку, и с нее же выплачивать кредит. Чем быстрее Вы погасите долг, тем меньше заплатите процентов и комиссии в CashYou.</p>
					<p><b>Срочный займ на карту</b> доступен всем ответственным лицам, проживающим на территории Украины. Микрофинансовые структуры предлагают своим клиентам займы от 100 до 15000 гривен. Уже через пару минут после подтверждения кредита, деньги будут перечислены на карту любого украинского банка. Погашать долг можно через электронный кабинет, кассы банка, терминалы самообслуживания. Основным требованием является своевременное погашение кредита.</p>
				</div>
				<div class="block">
					<h2>Когда компании отказывают в кредитовании?</h2>
					<p>Несмотря на то, что микрофинансовые организации согласны помочь практически каждому, бывают ситуации, когда они отказывают в предоставлении кредита. <b>Срочный займ на карту</b> не будет оформлен, если клиент указал неверную информацию в анкете. У каждой компании есть черный список, в котором состоят клиенты, которые не выплатили вовремя долг, либо же вовсе не погасили кредит.</p>
					<p>Конечно, таким клиентам компания CashYou откажет в переводе денег. И, стоит учитывать тот факт, что работники фирмы обращают внимание на профили клиента в социальных сетях. Оттуда можно будет понять, платежеспособный ли заемщик, есть ли у него работа, какие у него интересы.</p>
				</div>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div> 
{% endblock %}
