@media screen and (max-width: 1300px) {
    .viral-bg {
        font-size: 16em;
    }

    .services-more__item {
        margin: 0 3% 20px 0;
        width: 48%;
    }
    
    .services-more__item:nth-child(3n) {
        margin: 0 3% 20px 0;
    }

    .services-more__item:nth-child(2n) {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 1080px) {
    .contacts-info {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    html, 
    body {
        font-size: 14px;
    }



    .slick-slide {
        text-align: center;
    }

    .slick-arrow {
        display: block;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 30px;
        height: 30px;
        background-color: #fff;

        border: none;
        font-size: 0;

        z-index: 2;
        outline: none;

        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    }

    .slick-arrow:active {
        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
    }

    .slick-arrow::before,
    .slick-arrow::after {
        content: "";

        position: absolute;
        top: 10px;
        left: 9px;

        height: 2px;
        width: 12px;
        background-color: #cc0000;

        z-index: 999;
    }

    .slick-prev  {
        left: 0;
    }

    .slick-prev::before {
        transform: rotate(-45deg);
    }

    .slick-prev::after {
        transform: rotate(45deg);
        top: 18px;
    }

    .slick-next::before {
        transform: rotate(45deg);
    }

    .slick-next::after {
        transform: rotate(-45deg);
        top: 18px;
    }

    .slick-next {
        right: 0;
    }



    /* .nav-list__item {
        height: 40px;
    } */

    .nav-list__link {
        font-size: 24px;
        font-size: 2vw;
    }

    .services-item__title {
        padding-left: 15px;
        font-size: 24px;
    }

    .services-item__description {
        padding-left: 15px;
        font-size: 12px;
    }

    .text {
        max-width: 470px;
        min-width: 250px;
    }

    .page-title {
        font-size: 24px;
    }

    .page-title__shadow {
        font-size: 36px;
        top: -10px;
    }

    .learn-more {
        font-size: 12px;
    }

    .working-page-item__text {
        padding: 0 15px;
        text-align: left;
    }

    .working-page-item__title {
        font-size: 24px;
    }

    .working-page-item__description {
        font-size: 14px;
    }

    .working-page-item__p {
        font-size: 12px;
    }

    .working-page-item__link {
        padding: 5px 0 10px;
    }

    .working-page-item__link {
        font-size: 10px;
    }

    .clients__list {
        padding: 0 30px;
    }

    .certificates__item {
        min-width: 100px;
        max-width: 120px;
    }

    .footer__copyright {
        width: 25%;
    }

    .footer__info {
        justify-content: space-between;
        width: 75%;
    }

    .info__item {
        width: 36%;
    }

    .info__item:nth-child(3) {
        width: 28%;
    }



    .main {
        margin-bottom: 80px;
        min-height: 300px;
    }

    .main__title {
        width: 50%;
        font-size: 24px;
    }
    
    .main__title-mini {
        font-size: 18px;
    }

    .main__services-list {
        width: 45%;
        font-size: 12px;
    }

    .services-more__list {
        margin-bottom: 50px;
    }

    .service-description {
        padding-bottom: 40px;
    }
    
    .brief {
        margin: 80px auto;
    }

    .portfolio .working-page-list__item {
        width: 48%;
        margin-bottom: 20px;
    }

    .project {
        display: block;
    }

    .project-info {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .project-view {
        width: 100%;
    }

    .project-link {
        font-size: 12px;
    }

    .project-link__link {
        margin: 0 10px;
    }



    .container__blog {
        display: flex;
        justify-content: space-between;
        /* flex-direction: row; */
        flex-wrap: wrap;
    }

    .rubrics {
        width: 100%;
        float: none;
    }

    .rubrics__list {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rubric__item {
        height: auto;
        width: 49%;
    }
    
    .video-reviews {
        width: 100%;
        float: none;

        order: 3;
    }

    .video-reviews__list {
        display: flex;
        justify-content: space-between;
    }

    .video-review__item {
        width: 32%;
    }

    .right-column {
        padding-left: 0;
        width: 100%;
    }

    .pagination-list {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .project-link {
        display: none;
    }

    .contacts {
        height: auto;
        padding: 60px 15px;
    }
}

@media screen and (max-width: 650px) {
    html, 
    body {
        overflow-x: hidden;
    }

    .viral-bg {
        font-size: 12em;
    }

    .page {
        padding: 15px;
    }

    .button {
        width: 125px;
        min-width: 125px;
        padding: 0 15px;
        font-size: 10px;
    }

    .container__main-nav {
        height: 70px;
    }

    .main-nav {
        height: 70px;
    }

    .menu-button {
        width: 60px;
        height: 70px;
    }

    .main-nav__lang {
        width: 60px;
        height: 70px;
    }

    .fixed {
        display: none;
    }

    .fixed__progress-bar {
        display: none;
    }

    .container__main-page {
        padding: 70px 0 15px;
        /* height: 400px; */

        overflow: hidden;
    }

    .video {
        margin: 0 15px;
        height: 100%;
        width: 100%;

        overflow: hidden;
    }

    .services__list {
        display: block;
    }

    .services-list__item {
        margin: 15px 0;

        width: 100%;
        height: 150px;

        overflow: hidden;
    }

    .services-list__item:hover {
        margin-top: 15px;
    }

    .services-item__img-container {
        width: 100%;
        height: 100%;

        position: relative;
    }

    .services-list__item:hover .services-item__img-container {
        top: 0;
    }

    .services-list__item:hover .services-item__title {
        color: #fff;
        top: calc(50% - 20px);
    }

    .services-list__item:hover .services-item__description {
        color: #fff;
        top: calc(50% + 10px);
    }

    .services-item__img-red {
        width: 100%;
        height: 100%;
    }

    .services-list__item:hover .services-item__img-red  {
        opacity: 1;
    }

    .services-item__img {
        height: auto;
        width: 100%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text {
        width: 100%;
    }

    .working-page-item__img-red {
        opacity: 1;
    }

    .working-page-item__img {
        filter: blur(5px);
        transform: scale(1.1);
    }

    .working-page-item__logo {
        height: 60%;
        opacity: 1;
    }

    .working-page-list__item:hover .working-page-item__logo {
        height: 50%;
        opacity: 1;
    }

    .working-page-item__text {
        padding: 0 20px;
        opacity: 1;
    }

    .working-page-item__title {
        opacity: 1;
        bottom: 0;
    }

    .working-page-item__description {
        transition-delay: 0s;
        opacity: 1;
        bottom: 0;
    }

    .working-page-item__p {
        transition-delay: 0s;
        opacity: 1;
        bottom: 0;
    }

    .working-page-item__link {
        transition-delay: 0s;
        opacity: 1;
        bottom: 0;
    }

    .working-page-item__arrow1 {
        transition-delay: 0s;
        transition: none;
        width: 100px;
        opacity: 1;
    }
    
    .working-page-item__arrow2 {
        transition-delay: 0s;
        transition: none;
        width: 6px;
        left: 95px;
        opacity: 1;
    }

    .working-page__list .slick-prev {
        left: -15px;
    }

    .working-page__list .slick-next {
        right: -15px;
    }

    .working-item__watch-projects {
        margin-top: 15px;
        padding: 15px 0;
    }

    .container__brief {
        padding: 0;
    }

    .brief {
        margin: 0 auto 50px;
        width: 100%;
        height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacts {
        height: auto;
    }

    .certificates__item {
        max-width: 180px;
    }

    .footer {
        display: block;
    }

    .footer__social-list {
        margin-bottom: 30px;
        display: flex;
        position: relative;
        justify-content: center;
    }

    .social__item {
        margin: 0 20px;
    }

    .footer__copyright {
        display: none;
    }

    .footer__mobile-copyright {
        display: block;
        text-align: center;
    }

    .footer__info {
        display: block;
        width: 100%;
    }

    .info__item {
        width: 100%;
    }

    .info__item:nth-child(3) {
        width: 100%;
    }



    .ui-accordion .ui-accordion-header {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #cccccc;
        outline: none;
    }

    .ui-accordion .ui-accordion-content {
        border: none;
    }

    .ui-icon.iconOpen {
        position: absolute;
        right: 0;
        bottom: 0;

        background-image: none;
        /* background-color: #0047cc; */
        width: 20px;
        height: 20px;
    }

    .ui-icon.iconOpen::after,
    .ui-icon.iconOpen::before {
        content: "";

        position: absolute;
        top: 5px;
        right: 0;

        height: 1px;
        width: 8px;

        background-color: #cc0000;
    }

    .ui-icon.iconOpen::after {
        transform: rotate(45deg);
    }

    .ui-icon.iconOpen::before {
        right: 5px;
        transform: rotate(-45deg);
    }

    .ui-icon.iconClosed {
        position: absolute;
        right: 0;
        bottom: 0;

        background-image: none;
        width: 20px;
        height: 20px;
    }

    .ui-icon.iconClosed::after,
    .ui-icon.iconClosed::before {
        content: "";

        position: absolute;
        top: 5px;
        right: 0;

        height: 1px;
        width: 8px;

        background-color: #cc0000;
    }

    .ui-icon.iconClosed::after {
        transform: rotate(-45deg);
    }

    .ui-icon.iconClosed::before {
        right: 5px;
        transform: rotate(45deg);
    }



    .main {
        margin-bottom: 40px;
    }

    .services-more__list {
        margin-bottom: 0;
    }

    .main__service-item {
        padding: 10px 0 10px 15px;
    }

    .project-info__title {
        font-size: 24px;
    }

    .project-info__description {
        font-size: 14px;
    }

    hr {
        margin: 15px 0;
    }


    .container__subscription-search {
        margin-bottom: 0;
    }

    .rubrics {
        margin-bottom: 30px;
    }

    .rubrics__title {
        padding-left: 0 !important;
        color: #000;
    }

    .rubrics__list {
        margin-bottom: 0;
        padding-left: 0 !important;
    }

    .rubric__item {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .container__subscription-search {
        flex-wrap: wrap;
    }

    .search {
        margin-top: 30px;
        width: 100%;
    }

    .article__img-block {
        display: none;
    }

    .article__text {
        width: 100%;
    }

    .article-section__title {
        font-size: 26px;
    }

    .article-section h3 {
        font-size: 18px;
    }

    .share {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .share__button {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .share-button__share {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .services-more__item {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .main__title {
        width: 100%;
    }

    .main__services-list {
        display: none;
 
    }

    .portfolio .working-page-list__item {
        width: 100%;
        margin-bottom: 20px;
    }
}