<h2>{{ '<b>Внимание!</b>'|trans|raw }}</h2>
<div class="description">
	<p>{{ 'Введите код полученный в СМС<br> для подписания договора'|trans|raw|nl2br }}</p>
</div>
<div class="form-holder">
	{% include 'loan/form-sign.html.twig' %}
</div>