html, 
body {
    margin: 0;
    padding: 0;

    font-family: 'SF', sans-serif;
    font-size: 18px;
    text-align: justify;

    color: #333333;
    background-color: #fefefe;

    position: relative;
}

/* html::-webkit-scrollbar { 
    display: none; 
} */

body::before {
    content: "";
        
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

a {
    color: #333333;
    text-decoration: none;
}

button {
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0;
    width: 100%;
    
}

.page {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .slide {
    margin: 100px auto 0;
    height: calc(100vh - 100px);
} */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    box-sizing: border-box;
    position: relative;

    min-width: 160px;
    padding: 0 20px;
    height: 42px;

    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    background-color: transparent;

    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.container__main-nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    width: 100%;
    height: 100px;

    background-color: #fefefe;

    z-index: 10;
}

.container__main-nav::before {
    content: "";
        
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

.main-nav__logo {
    color: #cc0000;
    font-size: 32px;
}

.logo__main {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
}

.main-nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    margin: 0;
    padding: 0;

    width: 1330px;
    height: 100px;

    display: flex;
    align-items: center;

    text-transform: uppercase;
}

.main-nav a {
    cursor: pointer;
}

.main-nav__logo-wrapper {
    order: 2;
    z-index: 12;
}

.main-nav__wrapper {
    text-transform: uppercase;

    position: fixed;
    top: 0;
    left: 0;
    /* top: 50px;
    left: 40px; */
    /* top: 50%;*/
    left: 50%;
    transform: translateX(-50%);
    
    /* width: 100vw;
    height: 100vh;
    transform: scale(0); */
    /* width: 0;  */
    height: 0;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #333333;

    overflow: hidden;
    transition: 1s;

    z-index: 10;
}

.main-nav__wrapper--active {

    height: 100vh;  
    /* transform: translate(-50%, -50%); */
}

.main-nav__wrapper::before {
    content: "";
        
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

.nav-list__item {
    height: 50px;

    position: relative;

    opacity: 0;
    bottom: -15px;
    transition: 0.5s ease-in-out;
}

.nav-list__item--active {
    /* transition-delay: 0.4s; */
    opacity: 1;
    bottom: 0;
}

.nav-list__link {
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
}



/*
*Hamburger
*/
.hamburger {
    padding: 15px 15px;
    display: block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

/* .hamburger:hover {
    opacity: 0.7; 
} */

/* .hamburger.is-active:hover {
    opacity: 0.7; 
} */

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff; 
}

.hamburger-box {
    width: 20px;
    height: 18px;
    display: inline-block;
    position: relative; 

    z-index: 15;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px; 

    z-index: 15;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -6px; 
}

.hamburger-inner::after {
    bottom: -6px; 
}

/*
* Stand
*/
.hamburger--stand .hamburger-inner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; 
}
.hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--stand.is-active .hamburger-inner {
    background-color: #fff;
    transform: rotate(90deg);
    background-color: transparent !important;
    transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; 
}
.hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/* .menu {
    position: relative;
} */

.menu-button {
    text-align: left;
    width: 80px;
    height: 100px;
    padding: 0;
    outline: none;
    color: #7a7a7a;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    order: 1;
    z-index: 12;
}

.main-nav__start-project-button {
    margin-left: auto;
    order: 3;

    z-index: 12;
}

.main-nav__start-project-button--active {
 color: #fff;
 border-color: #fff;

 transition: 1s;
}

.main-nav__lang {
    font-size: 12px;
    font-weight: 700;

    width: 80px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    order: 4;

    z-index: 12;
}

.lang-list__link {
    color: #000;

    transition: 1s;
}

.lang-list__link--active {
    color: #fff;
}

.container__main-page {
    padding-top: 100px;
}

.container__main-page {
    top: 0;
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
}

#anchor-spacer {
    position: relative;

    height: 100vh;
    margin-top: 100px;

    z-index: 2;
}

.main-page__video {
    position: relative;
    width: 1170px;
    height: 500px;
    background-image: url(../img/Video.png);
}

.stripes {
    position: absolute;
    top: 500px;

    width: 30px;
    height: 500px;

    background-color: #fff;

    z-index: 3;

    /* opacity: 0; */
    /* display: none; */
}

.stripes::before {
    content: "";
        
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: #fff;
    background: url('../img/noise.png');

    animation: 1s infinite noise;
    
    pointer-events: none;
}

#stripe1 {
    left: 370px;
}

#stripe2 {
    right: 370px;
}

.container__services {
    position: relative;
    z-index: 2;
    /* padding-top: 100px; */
    margin-top: 100px;
    height: calc(100vh - 100px);
    /* height: 100vh; */


}

.bg {
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.bg::before {
    content: "";
        
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

.services-list {
    height: 500px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

.services-list__item {
    width: 370px;

    position: relative;
}

.services-item__title {
    padding-left: 30px;

    color: #fff;
    text-transform: uppercase;

    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    left: 0;

    z-index: 3;

    margin: 0;
    font-size: 30px;

    transition: 1s ease-in-out;
    
}

.services-list__item:hover .services-item__title {
    top: -60px;
    left: 0;

    color: #000;

    transition: 1s cubic-bezier(0.44,-0.06,0.54,1.40);
}

.services-item__description {
    padding-left: 30px;

    color: #fff;
    text-transform: uppercase;

    position: absolute;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    left: 0;

    z-index: 3;

    margin: 0;
    font-size: 14px;

    transition: 1s;
}

.services-list__item:hover .services-item__description {
    top: -30px;
    left: 0;

    color: #000;

    transition-delay: 0.5s;
}

.services-item__img-container {
    width: 370px;

    position: relative;

    transition: 1s;
}

.services-list__item:hover .services-item__img-container {
    margin-bottom: -90px;
}

.red-mask {
    position: absolute;
    left: 0;
    top: 0;

    width: 370px;
    height: 370px;

    background-color: rgba(245, 0, 0, 0.8);

    z-index: 2;

    transition: 1s;
}

.services-list__item:hover .services-item__img-red {
    opacity: 0;
}

.services-item__img {
    position: relative;

    width: 370px;
    height: 370px;

    opacity: 0.5;

    transition: 1s;
}

.services-list__item:hover .services-item__img {
    opacity: 1;
}

.working-page {
    align-items: center;
}

.text-container {
    width: 100%;
    padding: 80px 0 50px;

    position: relative;
}

.working-page__text-container::after {
    content: url(../img/points.png);

    position: absolute;
    top: 0;
    left: 0;
}

.working-page__text-container::before {
    content: url(../img/lines.png);

    position: absolute;
    bottom: 0;
    right: 0;
}

.text {
    max-width: 770px;
    margin: 0 auto;
}

.page-title {
    margin: 0 0 20px 0;
    padding-left: 20px;

    border-left: 1px solid #cc0000;

    color: #000;
    font-size: 36px;
    text-transform: uppercase;

    position: relative;
    z-index: 2;
    /* text-shadow: -5px 0 0  #fff, -14px 7px 0 #0a0e27; */
}

.page-title__shadow {
    position: absolute;
    top: -20px;
    left: 10px;

    font-size: 72px;
    color: rgba(255,255,255,0.5);

    text-shadow: 5px 5px 30px rgba(0,0,0,0.05);

    z-index: -1;
}

.learn-more__container {
    position: relative;
}

.learn-more {
    display: inline-block;
    padding-bottom: 15px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    /* position: relative; */
}

.learn-more__arrow1,
.learn-more__arrow2 {
    position: absolute; 
    bottom: 5px;
    left: 0;

    width: 100px;
    height: 1px;
    background-color: #cc0000;

    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s;
}

.learn-more__arrow2 {
    bottom: 3px;
    left: 94px;

    width: 6px;
    transform: rotate(-45deg);
}

.learn-more:hover + .learn-more__arrow1 {
    width: 160px;
}

.learn-more:hover + .learn-more__arrow1 + .learn-more__arrow2 {
    left: 154px;
}

/* .learn-more::before,
.learn-more::after {
    content: "";

    position: absolute; 
    bottom: 5px;
    left: 0;

    width: 100px;
    height: 1px;
    background-color: #cc0000;

    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
}

.learn-more::after {
    bottom: 3px;
    left: 94px;

    width: 6px;
    transform: rotate(-45deg);
} */

/* .learn-more:hover ::before {
    width: 200px;
}

.learn-more:hover ::before {
    left: 194px;
} */

.working-page-list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

.working-page-list__item {
    width: 370px;
    height: 370px;
    /* overflow: hidden; */

    position: relative;
}

.working-page-item__img-container {
    width: 370px;

    position: relative;
    overflow: hidden;

    transition: 1s;
}

.working-page-item__img-red {
    background-color: rgba(245, 0, 0, 0.8);
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 3;

    transition: 0.8s;
}

.working-page-list__item:hover .working-page-item__img-red {
    opacity: 1;
}

.working-page-item__img {
    width: 370px;
    height: 370px;

    transition: 1s;
}

.working-page-list__item:hover .working-page-item__img {
    filter: blur(5px);
    transform: scale(1.1);
}

.working-page-item__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;

    height: 35%;
    opacity: 1;
    transition: 1.5s;
}

.working-page-list__item:hover .working-page-item__logo {
    height: 60%;
    opacity: 0;
    /* transform: scale(1.5); */
}

.services-list__item {
    width: 370px;

    position: relative;
}

.working-page-item__text {
    box-sizing: border-box;
    padding: 0 30px;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 370px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 4;

    /* opacity: 0; */
    /* transition: 1s; */
}

.working-page-list__item:hover .working-page-item__text {
    opacity: 1;
}

.working-page-item__title {
    color: #fff;
    text-transform: uppercase;

    position: relative;

    margin: 0;
    padding-bottom: 10px;
    font-size: 30px;

    opacity: 0;
    bottom: -15px;
    transition: 0.5s ease-in-out; 
}

.working-page-list__item:hover .working-page-item__title {
    opacity: 1;
    bottom: 0;
}

.working-page-item__description {
    color: #fff;
    text-transform: uppercase;

    position: relative;

    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;

    opacity: 0;
    bottom: -15px;
    transition: 0.5s ease-in-out;
}

.working-page-list__item:hover .working-page-item__description {
    transition-delay: 0.2s;
    opacity: 1;
    bottom: 0;
}

.working-page-item__p {
    color: #fff;
    text-transform: lowercase;

    position: relative;

    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;

    opacity: 0;
    bottom: -15px;
    transition: 0.5s ease-in-out;
}

.working-page-list__item:hover .working-page-item__p {
    transition-delay: 0.4s;
    opacity: 1;
    bottom: 0;
}

.working-page-item__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;

    position: relative;

    display: inline-block;
    margin: 0;

    opacity: 0;
    bottom: -15px;
    transition: 0.5s ease-in-out;
}

.working-page-list__item:hover .working-page-item__link {
    transition-delay: 0.6s;
    opacity: 1;
    bottom: 0;
}

.working-item__watch-projects {
    margin-top: 30px;
    width: 170px;
}



.fixed {
    position: fixed;
    left: 0;
    top: 100px;

    width: 1330px;
    height: calc(100vh - 100px);

    pointer-events: none;
    z-index: 15;
}

.fixed__social-list {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    z-index: 15;
}

.fixed__social-list svg path {
    fill: #000;
    transition: 1s;
}

.fixed__social-list--active svg path {
    fill: #fff;
}

.social__item {
    margin: 20px 0;
}

/* .social__item--white svg path {
    fill: rgb(255, 255, 255);
} */

/* .social__item svg {
    filter: invert(100%);
} */

.footer {
    position: relative;

    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;

    font-size: 14px;

    background-color: #fff;
    z-index: 2;
}

.footer::before {
    content: "";
        
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

.footer__copyright {
    width: 35%;

    display: flex;
    flex-direction: column;
}

.footer__info {
    display: flex;
    width: 65%;
}

.info__item {
    width: 33.333%;
}

.footer__viral,
.info__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;

    margin: 0;
    margin-bottom: 25px;
}

.footer__copyright-description {
    margin: 0;
    margin-bottom: auto;
}

.info-list__item {
    height: 30px;
}

.seo__text-container::after {
    content: url(../img/lines-vert.png);

    position: absolute;
    bottom: 50px;
    left: 0;
}

.seo__text-container::before {
    content: url(../img/squares.png);

    position: absolute;
    top: 80px;
    right: 0;
}

.certificates {
    padding-bottom: 80px;
    max-width: 1110px;
}

.clients {
    padding-bottom: 80px;
    max-width: 1110px;
}

.clients__list {
    display: flex;
    justify-content: space-between;
}

.clients__link {
    display: inline-block;
}

.clients__img {
    filter: grayscale(100%);
    transition: 0.5s;
}

.clients__img:hover {
    filter: grayscale(0%);
}

.container__brief {
    position: relative;
    margin-bottom: 80px;

    text-transform: uppercase;
    color: #fff;
    background-color: #000;
}

.container__brief::before {
    content: "";
        
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: url('../img/noise.png');
    
    animation: 1s infinite noise;
    
    pointer-events: none;
}

.brief {
    display: block;
    margin: 0 auto;
    padding: 135px 0 120px 0;
    max-width: 1170px;

    text-align: center;
}

.brief__description {
    margin: 10px 0;
}

.brief__button {
    margin-top: 20px;
    color: #fff;
    border-color: #fff;
}

.certificates__list {
    display: flex;
    justify-content: space-between;
}

.certificates__item {
    width: 160px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.certificates__item:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}



.slick-track {
    
    /* display: flex !important; */
    height: 100vh;
    outline: 0;
}

.slick-slide {
    /* width: 1170px !important; */
    /* margin: 0 auto; */
    /* display: flex !important; */
    /* justify-content: center; */
    top: 100px;
    height: calc(100vh - 100px);
    outline: 0;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 12;
}

/* .slick-dots::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 2px;
    background-color: #4b4b4b;

    z-index: -1;
} */

.slick-dots button {
    font-size: 0;
    border: none;

    position: relative;

    width: 2px;
    height: 30px;
    padding: 0;
    margin: 5px 0;

    background-color: #a5a5a5;
    outline: none;

    transition: 0.5s;
}

.slick-dots button::after {
    content: '';

    position: absolute; 
    top: 0;
    /* top: -100%; */
    left: 0;

    /* opacity: 0; */

    width: 100%;
    height: 0;
    /* height: 100%; */
    background-color: #cc0000;

    transition: height 1s;
}

/* .slick-dots .slick-active button::after {
    height: 100%;
} */

.slick-active.slider-line-bottom button::after {
    top: 0;
    bottom: auto;
    height: 100%;
    transition: height 1s;
}

.slick-active.slider-line-top button::after {
    top: auto;
    bottom: 0;
    height: 100%;
    transition: height 1s;
}

.none-active-slider-line-bottom button::after {
    top: auto;
    bottom: 0;
    height: 0;
    transition: height 1s;
}