{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="security-holder">
		<div class="container">
			<div class="heading">
				<h1>{{ '<b>Восстановление</b> пароля'|trans|raw }}</h1>
				<div class="security-inner">
					{% include 'security/form-reset-password.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}