body {
    margin: 0;
    padding: 0;
    
    font-family: "Oswald", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: justify;
    color: #999999;
    
    background-image: url(../img/creditcard.png);
    background-repeat: no-repeat;
    background-color: #1a1a1a;
}

a {
    color: #cccccc;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h3 {
    margin: 10px 0 40px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}

.button {
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: #626262;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;

    height: 60px;
    background-color: #131313;
}

.header__logo {
    margin-right: auto;
}

.main-nav__button {
    display: none;
}

.main-nav__list {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.main-nav__item {
    height: 100%;
}

.main-nav__item a {
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: 20px; 
}

.main-nav__item a:hover {
    background-color: #363636;
}

.search {
    position: relative;
}

.search__input {
    box-sizing: border-box;
    height: 30px;
    width: 170px;
    padding-left: 10px;
    
    text-transform: uppercase;
    color: #fff;
    background-color: #131313;
    border: 1px solid #fff;
}

.search::after {
    content: url(../img/search.png);

    width: 14px;
    height: 14px;

    position: absolute;
    right: 30px;
    top: 8px;
}

.main-nav__search {
    margin: 0 20px;
}

.main-nav__registration {
    height: 60px;
    margin-left: 15px;
    padding: 0 20px;
    background-color: #2aa876;
}

.main__slogan {
    margin-top: 110px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.main__description {
    margin-bottom: 110px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.offers {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 16px;
    line-height: 22px;
}

.offers__item {
    box-sizing: border-box;
    width: 270px;
    margin-bottom: 30px;
}

.offers__item button{
    cursor: pointer;
}

.offer__top {
    box-sizing: border-box;
    height: 88px;
    padding: 15px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
}

.offer__img {
    margin: 0;
    width: 125px;
}

.offer__wrapper-compare {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer__rating {
    width: 100%;
    height: 15px;
    background-color: yellow;
}

.offer__compare {
    box-sizing: border-box;
    height: 27px;
    padding: 0 8px;
    color: #000;
    background-color: #f3f3f3;
    transition: 0.3s;
}

.offer__compare:hover {
    color: #fff;
    background-color: #2aa876;
}

.offer__middle {
    position: relative;

    box-sizing: border-box;
    padding: 15px 20px;
    color: #4f4f4f;
    background-color: #e5e5e5;
}

.offer__info,
.offer__graph {
    width: 230px;
}

.offer__info tr,
.offer__calculation tr {
    height: 30px;
}

.offer__description {
    width: 152px;
}

/* .offer__calculation .offer__description {
    width: 152px;
} */

.offer__value {
    width: 40px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: right;
}

.offer__units {
    width: 38px;
    text-align: right;
}

.offer__graph,
.offer__calculation {
    position: absolute;
    top: 20px;
    left: 0;

    background-color: #e5e5e5;
    transition: 0.3s;

    z-index: -1;
}

.offer__calculation {
    width: 230px;

    top: 15px;
    left: 20px;
}

.button-leaf {
    display: none;
}

/* .offer__description--calculation {
    justify-content: space-between;
} */

.slider-range-min {
    /* display: inline-block; */
    margin: 5px 10px 0 0;
    width: 66px;
    height: 10px;

    float: right;

    background-color: #303030;
}

.ui-corner-all {
    border: none !important;
    border-radius: 0;
}

.ui-widget-header {
    height: 10px;
    background-color: #2d6d54;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -2px;
}

.ui-slider .ui-slider-handle {
    height: 14px;
    width: 14px;
    background-color: #2aa876;
}



.middle__2 {
    width: 230px;
    margin-left: 20px;
}

.small-graph {
    height: 130px;
}

.small-graph .ct-labels span {
    color: #4f4f4f;
}

.small-graph .ct-series-a .ct-line {
    stroke: #f19c65 !important;
}

.small-graph .ct-series-a line:nth-child(2) {
    display: block;
    stroke: #f19c65;
}



.offer__bottom {
    box-sizing: border-box;
    padding: 0 20px 10px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #e5e5e5;
}

.offer__bottom button {
    margin-bottom: 10px;
    height: 40px;
    transition: 0.3s;
}

.offer__bottom button:hover {
    background-color: #2aa876;
}

.offer__button--graph {
    width: 110px;
}

.offer__button--calculation {
    width: 110px;
}

.offer__button--request {
    width: 100%;
}

.graph {
    margin-bottom: 85px;
}



.big-graph {
    height: 300px;
}

.ct-grids line {
    stroke: rgba(153, 153, 153, 0.5);
    stroke-dasharray: 0;
}

.big-graph .ct-labels span {
    color: #f0f0f0;
}

.big-graph .ct-labels .ct-label.ct-vertical {
    margin-left: -10px;
}

.big-graph .ct-labels .ct-label.ct-horizontal {
    margin-top: 10px;
}

.ct-series line {
    display: none;
}

.big-graph .ct-series-a .ct-line {
    stroke: #f27422 !important;
    filter: url(#glow);
}

.big-graph .ct-series-a line:nth-child(2),
.big-graph .ct-series-a line:last-child {
    display: block;
    stroke: #f27422;
}

.big-graph .ct-series-b .ct-line {
    stroke: #f9b103 !important;
    filter: url(#glow);
}

.big-graph .ct-series-b line:nth-child(2),
.big-graph .ct-series-b line:last-child {
    display: block;
    stroke: #f9b103;
}

.big-graph .ct-series-c .ct-line {
    stroke: #2aa876 !important;
    filter: url(#glow);
}

.big-graph .ct-series-c line:nth-child(2),
.big-graph .ct-series-c line:last-child {
    display: block;
    stroke: #2aa876;
}

.big-graph .ct-series-d .ct-line {
    stroke: #0a7b83 !important;
    filter: url(#glow);
}

.big-graph .ct-series-d line:nth-child(2),
.big-graph .ct-series-d line:last-child {
    display: block;
    stroke: #0a7b83;
}



.graph__company-list {
    display: flex;
    flex-wrap: wrap;
}

.graph__company-item {
    margin: 5px 10px 5px 0;
}

.graph__company-item a {
    display: block;
    padding: 8px 10px;

    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(153, 153, 153, 0.5);
    border: 1px solid rgba(153, 153, 153, 0.5);
}

.graph__company-item--choice a {
    color: #fff;
    border: none;
}

.company-item--choice1 a {
    background-color: #f27422;
}

.company-item--choice2 a {
    background-color: #f9b103;
}

.company-item--choice3 a {
    background-color: #2aa876;
}

.company-item--choice4 a {
    background-color: #0a7b83;
}

.wrapper-light {
    padding: 95px 0 120px 0;
    background-color: #212121;
}

.seo {
    font-weight: 300;
}

.wrapper-white {
    padding: 95px 0 120px 0;
    background-color: #ebebeb;
}

.top__title,
.top__small-title {
    color: #000;
}

.top__company-list {
    display: flex;
    justify-content: space-between;
}

.top__company-item {
    width: 21%;
}

.top__company-item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.top__more-companies {
    float: right;
    margin-top: -60px;
    color: rgba(153, 153, 153, 0.6);
}

.blog__more-news {
    float: right;
    margin-top: -60px;
}

.blog__news-list {
    display: flex;
    justify-content: space-between;
}

.blog__news-item {
    box-sizing: border-box;
    width: 370px;
    padding-left: 18px;

    font-weight: 300;
    text-align: justify;

    border-left: 2px solid #2aa876;
}

.blog__news-title {
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.blog__news-time {
    font-size: 14px;
    line-height: 20px;   
}

.blog__more-info-news {
    margin: 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px; 
    line-height: 20px;
    font-weight: 500;
    text-align: right;
}

.footer {
    margin: 45px 0;
    font-size: 14px;
    line-height: 20px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-button-list {
    width: 115px;

    display: flex;
    justify-content: space-between;
}

.footer__tel-list {
    width: 500px;

    display: flex;
    justify-content: space-between;
}

.footer__callback {
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    border: 1px solid #fff;
    background-color:  transparent;
}

.footer__copyright {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.change-color-green {
    background-color: #2aa876;
}

.change-z-index {
    z-index: 1;
}